{% load static i18n %}

<div class="demo-screen-headline main-demo main-demo-1 spacing-top overflow-hidden reveal" id="home">
    <div class="container px-sm-0">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-5 pb-5 animation-zidex pos-relative">
                <h4 class="fw-semibold mt-7">Najpovoljnije Servisne Ponude</h4>
                <h1 class="text-start fw-bold">Saznaj najpovoljniju servisnu ponudu za Vaš automobil
                    <span class="text-primary animate-heading">
                        <b>Prihvatite&nbsp;najpovoljniju&nbsp;ponudu.</b>
                    </span>
                </h1>
                <h6 class="pb-4 text_left fw-normal">
                    Pomoći ćemo vam da uštedite novac prilikom popravke automobila tako što ćete odabrati
                    Vama najpovoljnuju ponudu majstora u samo nekoliko
                    klikova .
                </h6>

                <div class="d-flex">
                    <span>
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="#6c5ffc"
                                d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,
                                    4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,
                                    21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,
                                    11.59L10,14.17L16.59,7.58L18,9L10,17Z"/>
                        </svg>
                    </span>
                    <div class="ms-5 mb-4">
                        <h5 class="fw-bold">Prijavite se na @PMA platformu.
                        </h5>
                    </div>
                </div>
                <div class="d-flex">
                    <span>
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="#6c5ffc"
                                d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,
                                    4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,
                                    21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,
                                    11.59L10,14.17L16.59,7.58L18,9L10,17Z"/>
                        </svg>
                    </span>
                    <div class="ms-5 mb-4">
                        <h5 class="fw-bold">Odaberita plan koji Vama najviše odgovara.
                        </h5>
                    </div>
                </div>
                <div class="d-flex">
                    <span>
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="#6c5ffc"
                                d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,
                                    4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,
                                    21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,
                                    11.59L10,14.17L16.59,7.58L18,9L10,17Z"/>
                        </svg>
                    </span>
                    <div class="ms-5 mb-4">
                        <h5 class="fw-bold">Zatraži ponudu za servis Vašeg automobila.</h5>
                    </div>
                </div>
                <div class="d-flex">
                    <span>
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="#6c5ffc"
                                d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,
                                    4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,
                                    21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,
                                    11.59L10,14.17L16.59,7.58L18,9L10,17Z"/>
                        </svg>
                    </span>
                    <div class="ms-5 mb-4">
                        <h5 class="fw-bold">Prihvatite ponudu koja Vama najviše odgovara.
                        </h5>
                    </div>
                </div>

                <a href="{% url 'ponude:ponude' %}"
                    target="_self" class="btn ripple btn-lg w-lg mb-3 me-2 btn-primary">
                    <i class="fe fe-play me-2"></i>
                    <b>Zahtev za ponudu VOZAČI </b>
                </a>
                <a href="{% url 'ponude:ponude' %}"
                    class="btn ripple btn-lg w-lg btn-outline-primary mb-3 me-2" target="_self"><i
                        class="fe fe-eye me-2"></i><b>Više informacija SERVISI</b>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 my-auto">
                <img src="{% static 'assets/images/landing/market4.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
