{% load static i18n %}

<div class="top sticky overflow-hidden">
    <div class="app-sidebar bg-transparent horizontal-main">
        <div class="container">
            <div class="row">
                <div class="main-sidemenu navbar px-0">
                    <a class="navbar-brand ps-0 d-none d-lg-block"
                        href="{% url 'landing_page:landing_page' %}">
                        <img alt="" class="logo-2" src="{% static 'assets/images/brand/logo-3.png' %}">
                        <img src="{% static 'assets/images/brand/logo.png' %}" class="logo-3" alt="logo">
                    </a>
                    <ul class="side-menu">
                        <li class="slide">
                            <a class="side-menu__item active" data-bs-toggle="slide" href="#home"><span
                                class="side-menu__label">Home</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#ponude"><span
                                class="side-menu__label">Ponude</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#About"><span
                                class="side-menu__label">Misija</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#faqs"><span
                                class="side-menu__label">@PMA</span></a>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="#scba"><span
                                    class="side-menu__label">Infinity SCBA</span></a>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="#cena"><span
                                    class="side-menu__label">Cena</span></a>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item" data-bs-toggle="slide" href="#Contact"><span
                                    class="side-menu__label">Kontakt</span></a>
                            </li>
                        </ul>
                        <div class="header-nav-right d-none d-lg-flex">
                            {% if user.is_authenticated %}
                                <a href="{% url 'ponude:ponude' %}"
                                    class="btn ripple btn-min w-sm btn-outline-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                    target="_self">Pozdrav {{ user.username }}
                                </a>
                                <a href="{% url 'account_logout' %}"
                                    class="btn ripple btn-min w-sm btn-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                    target="_self">Odjava
                                </a>
                            {% else %}
                                <a href="{% url 'account_login' %}"
                                    class="btn ripple btn-min w-sm btn-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                    target="_self">Prijava
                                </a>
                                <a href="{% url 'users:kreiraj_vozaca' %}"
                                    class="btn ripple btn-min w-sm btn-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                    target="_self">Registracija
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
