{% load static %}
{% load crispy_forms_tags %}

{% if object == request.user %}
{% block title %}User: {{ object.username }}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ user.username }}</h2>
            <p>{{ user.name }}</p>
            <p>{{ user.username }}</p>
            <p>{{ user.id }}</p>
            <p>{{ user.email }}</p>
        </div>
    </div>


    <div class="form-group col-md-6 mb-0">
        <p> email Name:{{ user.email}}</p>
        <p>base_role:{{ user.base_role}}</p>
        <p>first_name:{{ user.first_name}}</p>
        <p>vozac_id:{{ user.vozac_id}}</p>
    </div>

    <!-- Action buttons -->
    <div class="row">

        <div class="col-sm-12">
            <a class="btn btn-primary" href="{% url 'landing_page:landing_page' %}" role="button">My Info</a>
            <!-- Your Stuff: Custom user template urls -->
        </div>

    </div>


     <div class="mx-auto" style="width: 800px;">
            <form method='post'>
                {% csrf_token %}
                {{ form|crispy }}
                <br />
                <button class="btn btn-success btn-lg" type='submit'
                        onclick="return confirm('Da li želite da sačuvate izmene za kupca: {{ uredi_kupca.ime_prezime }}?')">
                    Sačuvaj
                </button>

            </form>
        </div>
    <!-- End Action buttons -->
{% endif %}

</div>
