{% load widget_tweaks %}
{% load crispy_forms_tags %}
<!-- PROMENA PROFILA -->
<div class="col-xl-12">
    {{ detalji_servisa.errors }}
    {{ detalji_profila_servisa.errors }}
    <form action='' class="ogin100-form validate-form" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ detalji_servisa.role }}

        <!-- EDIT PROFILA VLASNIKA SERVISA -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Osnovni Podaci Vlasnika Servisa</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- MESTO PREBIVALISTA VLASNIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Mesto Prebilavišta:</label>
                            <select class="form-control select2 form-select" name="grad">
                                {% for grad in detalji_servisa.grad %}
                                    {% render_field grad %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- END MESTO PREBIVALISTA VLASNIKA SERVISA -->

                    <!-- EMAIL ADRESA VLASNIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Email adresa:</label>
                            {% render_field detalji_servisa.email class="form-control" placeholder="Email"  %}
                        </div>
                    </div>
                    <!-- END EMAIL ADRESA VLASNIKA SERVISA -->

                    <!-- KORISNICKO IME VLASNIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Korisničko Ime:</label>
                            {% render_field detalji_servisa.username class="form-control" placeholder="Username" readonly="readonly" %}
                        </div>
                    </div>
                    <!-- END KORISNICKO IME VLASNIKA SERVISA -->
                </div>
                <div class="row">
                    <!-- TELEFON VLASNIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Telefon:</label>
                            {% render_field detalji_profila_servisa.broj_telefona_vlasnika class="form-control" placeholder="Broj Telefona" %}
                        </div>
                    </div>
                    <!-- END TELEFON VLASNIKA SERVISA -->

                    <!-- IME VLASNIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Ime:</label>
                            {% render_field detalji_servisa.first_name class="form-control" placeholder="Ime" %}
                        </div>
                    </div>
                    <!-- END IME VLASNIKA SERVISA -->

                    <!-- PREZIME VLASNIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Prezime:</label>
                            {% render_field detalji_servisa.last_name class="form-control" placeholder="Prezime" %}
                        </div>
                    </div>
                    <!-- END PREZIME VLASNIKA SERVISA -->
                </div>

            </div>
            <div class="card-footer text-end">
                {{ form.errors }}
                <button type='submit' class='btn btn-success my-1'>
                    <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                </button>
                <a href="{% url 'auto_servis:detalji_servisa' request.user.username  %}" class="btn btn-danger my-1">
                    <i class="fa fa-trash-o"></i>&nbsp;Odustani
                </a>
            </div>
        </div>
        <!-- ENFD EDIT PROFILA VLASNIKA SERVISA -->

        <!-- EDIT PROFILA AUTO SERVISA -->
        <div class="card" id="automobil">
            <div class="card-header">
                <h3 class="card-title">Uređivanje Profila Auto Servisa</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- NAZIV AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Naziv Auto Servisa:</label>
                            {% render_field detalji_profila_servisa.ime_servisa class="form-control form-control-lg" placeholder="Ime Servisa nije uneto..." %}
                        </div>
                    </div>
                    <!-- END NAZIV AUTO SERVISA -->

                    <!-- SLOGAN AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Slogan Auto Servisa:</label>
                            {% render_field detalji_profila_servisa.slogan_servisa class="form-control form-control-lg" placeholder="Slogan Servisa nije uneta..." %}
                        </div>
                    </div>
                    <!-- END SLOGAN AUTO SERVISA -->

                    <!-- GRAD AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Grad Auto Servisa:</label>
                            {% render_field detalji_profila_servisa.grad_auto_servisa class="form-control form-control-lg" placeholder="Grad Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END GRAD AUTO SERVISA -->

                    <!-- ADRESA AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Adresa Auto Servisa:</label>
                            {% render_field detalji_profila_servisa.adresa_servisa class="form-control form-control-lg" placeholder="Adresa Servisa nije uneta..." %}
                        </div>
                    </div>
                    <!-- END ADRESA AUTO SERVISA -->

                    <!-- BROJ TELEFONA AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Broj Telefona Servisa:</label>
                            {% render_field detalji_profila_servisa.broj_telefona_servisa class="form-control" placeholder="Broj Telefona Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END BROJ TELEFONA AUTO SERVISA -->

                    <!-- EMAIL AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">E-mail Auto Servisa:</label>
                            {% render_field detalji_profila_servisa.email_servisa class="form-control form-control-lg" placeholder="Email Servisa nije uneta..." %}
                        </div>
                    </div>
                    <!-- END EMAIL AUTO SERVISA -->

                    <!-- DATUM OSNIVANJA AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Datum Osnivanja Auto Servisa:</label>
                            {% render_field detalji_profila_servisa.datum_osnivanja class="form-control form-control-lg" placeholder="Datum Osnivanja Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END DATUM OSNIVANJA AUTO SERVISA -->

                    <!-- PIB AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">PIB:</label>
                            {% render_field detalji_profila_servisa.pib_servisa class="form-control" placeholder="PIB Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END PIB AUTO SERVISA -->

                    <!-- MATICNI BROJ AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Matični Broj:</label>
                            {% render_field detalji_profila_servisa.maticni_broj_servisa class="form-control" placeholder="Matični Broj Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END MATICNI BROJ AUTO SERVISA -->

                    <!-- SPECIJALIZOVAN ZA AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Specijalizovan za Marku:</label>
                            {% render_field detalji_profila_servisa.specijalizovan_za_marku class="form-control" placeholder="Specijalizovan Za Marku Automobila nije uneta..." %}
                        </div>
                    </div>
                    <!-- END SPECIJALIZOVAN ZA  AUTO SERVISA -->

                    <!-- FACEBOOK LINK AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Facebook Link:</label>
                            {% render_field detalji_profila_servisa.facebook_link class="form-control" placeholder="Facebook Link Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END FACEBOOK LINK AUTO SERVISA -->

                    <!-- YOUTUBE LINK AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Youtube Link:</label>
                            {% render_field detalji_profila_servisa.youtube_link class="form-control" placeholder="Youtube Link Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END YOUTUBE LINK AUTO SERVISA -->

                    <!-- TWITTER LINK AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Twitter Link:</label>
                            {% render_field detalji_profila_servisa.twitter_link class="form-control" placeholder="Twitter Link Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END TWITTER LINK AUTO SERVISA -->

                    <!-- LINKEDIN LINK AUTO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">LinkedIn Link:</label>
                            {% render_field detalji_profila_servisa.linkedin_link class="form-control" placeholder="LinkedIn Link Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END LINKEDIN LINK AUTO SERVISA -->

                    <!-- SLIKA LOGO SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Logo Auto Servisa</label>
                            {{ image_form.management_form }}
                            {% for form in slika_logoa_form %}
                                {{ form.as_p }}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END SLIKA LOGO SERVISA -->

                    <!-- SLIKA SERVISA -->
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Slika Auto Servisa</label>
                            {{ slike_servisa_form.management_form }}
                            {% for form in slike_servisa_form %}
                                {{ form.as_p }}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END SLIKA SERVISA -->

                    <!-- OPIS AUTO SERVISA -->
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label class="form-label">Opis Servisa</label>
                            {% render_field detalji_profila_servisa.opis_servisa class="form-control" placeholder="Opis Servisa nije unet..." %}
                        </div>
                    </div>
                    <!-- END OPIS AUTO SERVISA -->
                </div>
            </div>
            <div class="card-footer text-end">
                {{ form.errors }}
                <button type='submit' class='btn btn-success my-1'>
                    <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                </button>
                <a href="{% url 'auto_servis:detalji_servisa' request.user.username  %}" class="btn btn-danger my-1">
                    <i class="fa fa-trash-o"></i>&nbsp;Odustani
                </a>
            </div>
        </div>
        <!-- END EDIT PROFILA AUTO SERVISA -->

        <!-- EDIT RADNO VREME AUTO SERVISA -->
        <div class="row" id="radno_vreme_servisa">
            <!-- RADNO VREME PON-PET -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Radno Vreme: Ponedeljak-Petak</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- RADNO VREME OD PON-PET -->
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="form-label">Pon.-Pet. *(od)</label>
                                    <select class="form-control form-control-lg" name="otvoreno_od_ponedeljak_petak">
                                        {% for radno_vreme_radni_dan in detalji_profila_servisa.otvoreno_od_ponedeljak_petak %}
                                            {% render_field radno_vreme_radni_dan %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- END RADNO VREME OD PON-PET -->

                            <!-- RADNO VREME DO PON-PET -->
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="form-label">Pon.-Pet. *(do)</label>
                                    <select class="form-control form-control-lg" name="otvoreno_do_ponedeljak_petak">
                                        {% for radno_vreme_radni_dan in detalji_profila_servisa.otvoreno_do_ponedeljak_petak %}
                                            {% render_field radno_vreme_radni_dan %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- END RADNO VREME DO PON-PET -->
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        {{ form.errors }}
                        <button type='submit' class='btn btn-success my-1'>
                            <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                        </button>
                        <a href="{% url 'auto_servis:detalji_servisa' request.user.username  %}" class="btn btn-danger my-1">
                            <i class="fa fa-trash-o"></i>&nbsp;Odustani
                        </a>
                    </div>
                </div>
            </div>
            <!-- END RADNO VREME PON-PET -->

            <!-- RADNO VREME SUBOTA -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Radno Vreme: Subota</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- RADNO VREME OD SUBOTA -->
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="form-label"> Subota *(od)</label>
                                    <select class="form-control form-control-lg" name="otvoreno_od_subota">
                                        {% for radno_vreme_radni_dan in detalji_profila_servisa.otvoreno_od_subota %}
                                            {% render_field radno_vreme_radni_dan %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- END RADNO VREME OD SUBOTA -->

                            <!-- RADNO VREME DO SUBOTA -->
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="form-label">Subota *(do)</label>
                                    <select class="form-control form-control-lg" name="otvoreno_do_subota">
                                        {% for radno_vreme_radni_dan in detalji_profila_servisa.otvoreno_do_subota %}
                                            {% render_field radno_vreme_radni_dan %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- END RADNO VREME DO SUBOTA -->
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        {{ form.errors }}
                        <button type='submit' class='btn btn-success my-1'>
                            <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                        </button>
                        <a href="{% url 'auto_servis:detalji_servisa' request.user.username  %}" class="btn btn-danger my-1">
                            <i class="fa fa-trash-o"></i>&nbsp;Odustani
                        </a>
                    </div>
                </div>
            </div>
            <!-- END RADNO VREME SUBOTA -->

            <!-- RADNO VREME NEDELJA -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Radno Vreme: Nedelja</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- RADNO VREME OD  NEDELJA -->
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="form-label">Nedelja *(od)</label>
                                    <select class="form-control form-control-lg" name="otvoreno_od_nedelja">
                                        {% for radno_vreme_radni_dan in detalji_profila_servisa.otvoreno_od_nedelja %}
                                            {% render_field radno_vreme_radni_dan %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- END RADNO VREME OD NEDELJA -->

                            <!-- RADNO VREME DO NEDELJA -->
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="form-label">Nedelja *(do)</label>
                                    <select class="form-control form-control-lg" name="otvoreno_do_nedelja">
                                        {% for radno_vreme_radni_dan in detalji_profila_servisa.otvoreno_do_nedelja %}
                                            {% render_field radno_vreme_radni_dan %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- END RADNO VREME DO NEDELJA -->
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        {{ form.errors }}
                        <button type='submit' class='btn btn-success my-1'>
                            <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                        </button>
                        <a href="{% url 'auto_servis:detalji_servisa' request.user.username  %}" class="btn btn-danger my-1">
                            <i class="fa fa-trash-o"></i>&nbsp;Odustani
                        </a>
                    </div>
                </div>
            </div>
            <!-- END RADNO VREME NEDELJA -->
        </div>
        <!-- END EDIT RADNO VREME AUTO SERVISA -->


        <!-- EDIT NOTIFIKACIJE -->
        {% include 'auto_servis/partials/partials-notifikacije-sigurnost-servisi.html' %}
        <!-- END EDIT NOTIFIKACIJE -->
    </form>

</div>
<!-- END PROMENA PROFILA -->
