{% extends "auto_servis/auto-servis-base.html" %}
{% load static %}

{% block title %} Auto Servis: {{ user.username }} {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Profil Auto Servisa: {{ user.username }}">
    <meta name="keywords" content="Auto Servis, {{ user.username }}">
{% endblock meta_data %}

{% block app_content %}
    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- ROW-1 -->
                <div class="row mt-4" id="user-profile">
                    <!-- COL -->
                    <div class="col-lg-12">
                        <!-- HEADER PROFILA SERVISA -->
                        <div class="card">
                            <div class="card-body">
                                <div class="wideget-user mb-2">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="row">
                                                <div class="panel profile-cover">
                                                    <div class="profile-cover__action bg-img">
                                                    </div>
                                                    <div class="profile-cover__img">
                                                        <div class="profile-img-1">
                                                            <img src="{{ slika_logo_servisa.slika_logo_servisa.url|default:'/static/assets/images/auctions/no-car.jpg' }}" alt="img">
                                                        </div>
                                                        <div class="profile-img-content text-dark text-start">
                                                            <div class="text-dark">
                                                                {% if  profil_servisa.ime_servisa %}
                                                                    <h3 class="h3 mb-2">{{ profil_servisa.ime_servisa }}</h3>
                                                                {% else %}
                                                                    <h3 class="h3 mb-2">Naziv Auto Servisa nije unet!</h3>
                                                                {% endif %}
                                                                <h5 class="text-muted">{{ user.username }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if user.role == "SERVIS" and servis == user %}
                                                        <div class="btn-profile">
                                                            <a href="{% url 'auto_servis:izmena_profila_servisa' request.user.username  %}"
                                                                class="btn ripple btn-min w-sm btn-primary me-2 my-auto"
                                                                target="_self">
                                                                <i class="fe fe-edit"></i> Izmeni Profil Servisa
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- SOCIAL PROFILE SERVISA -->
                                            <div class="row">
                                                <div class="px-0 px-sm-4">
                                                    <div class="social social-profile-buttons mt-5 float-end">
                                                        <div class="mt-3">
                                                            {% if profil_servisa.twitter_link %}
                                                                <a class="social-icon text-primary" href="https://{{ profil_servisa.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                            {% endif %}
                                                            {% if profil_servisa.facebook_link %}
                                                                <a class="social-icon text-primary" href="https://{{ profil_servisa.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                                            {% endif %}

                                                            {% if profil_servisa.youtube_link %}
                                                                <a class="social-icon text-primary" href="https://{{ profil_servisa.youtube_link.url }}" target="_blank"><i class="fa fa-youtube"></i></a>
                                                            {% endif %}

                                                            {% if profil_servisa.linkedin_link %}
                                                                <a class="social-icon text-primary" href="https://{{ profil_servisa.linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                            {% endif %}
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END SOCIAL PROFILE SERVISA -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END HEADER PROFILA SERVISA -->

                        <!-- STATISTIKA, SLIKA I BIOGRAFIJA -->
                        <div class="row">
                            <div class="col-xl-4">
                                <!-- SLIKA SERVISA -->
                                {% for image in slika_servisa %}
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="{{ image.slika_servisa.url }}" class="img-fluid rounded-3 ">
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="card">
                                        <div class="card-body">
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- END SLIKA SERVISA -->

                                <!-- STATISTIKA -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="main-profile-contact-list">
                                            <div class="me-5">
                                                <div class="media mb-4 d-flex">
                                                    <div class="media-icon bg-secondary bradius me-3 mt-1">
                                                        <i class="fe fe-edit fs-20 text-white"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="text-muted">Ponude</span>
                                                        <div class="fw-semibold fs-25">
                                                            {{ broj_ponuda_servisa }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="me-5 mt-5 mt-md-0">
                                                <div class="media mb-4 d-flex">
                                                    <div class="media-icon bg-danger bradius text-white me-3 mt-1">
                                                        <span class="mt-3">
                                                            <i class="fe fe-users fs-20"></i>
                                                        </span>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="text-muted">Utisaka</span>
                                                        <div class="fw-semibold fs-25">
                                                            {{ profil_servisa.countReview }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="me-0 mt-5 mt-md-0">
                                                <div class="media">
                                                    <div class="media-icon bg-primary text-white bradius me-3 mt-1">
                                                        <span class="mt-3">
                                                            <i class="fe fe-cast fs-20"></i>
                                                        </span>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="text-muted">Srednja Ocena</span>
                                                        <div class="fw-semibold fs-25">
                                                            {{ profil_servisa.averageReview }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END STATISTIKA -->

                                <!-- RADNO VREME SERVISA -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Radno Vreme</div>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <h6>Ponedeljak:</h6><h4><strong>{{ profil_servisa.otvoreno_od_ponedeljak_petak }} - {{ profil_servisa.otvoreno_do_ponedeljak_petak }}</strong></h4>
                                            <h6>Utorak:</h6><h4><strong> {{ profil_servisa.otvoreno_od_ponedeljak_petak }} - {{ profil_servisa.otvoreno_do_ponedeljak_petak }}</strong></h4>
                                            <h6>Sreda:</h6><h4><strong> {{ profil_servisa.otvoreno_od_ponedeljak_petak }} - {{ profil_servisa.otvoreno_do_ponedeljak_petak }}</strong></h4>
                                            <h6>Četvrtak:</h6><h4><strong> {{ profil_servisa.otvoreno_od_ponedeljak_petak }} - {{ profil_servisa.otvoreno_do_ponedeljak_petak }}</strong></h4>
                                            <h6>Petak:</h6><h4><strong> {{ profil_servisa.otvoreno_od_ponedeljak_petak }} - {{ profil_servisa.otvoreno_do_ponedeljak_petak }}</strong></h4>
                                            <h6>Subota:</h6><h4><strong> {{ profil_servisa.otvoreno_od_subota }} - {{ profil_servisa.otvoreno_do_subota }}</strong></h4>
                                            <h6>Nedelja:</h6><h7><strong> {{ profil_servisa.otvoreno_od_nedelja }} - {{ profil_servisa.otvoreno_do_nedelja }}</strong></h7>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <!-- END RADNO VREME SERVISA -->

                                <!-- BIOGRAFIJA -->
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">O Servisu</div>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <h5>Kratak Istorijat:<i class="fe fe-edit-3 text-primary mx-2"></i></h5>
                                            <p>{{ profil_servisa.opis_servisa }}
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="d-flex align-items-center mb-3 mt-3">
                                            <div class="me-4 text-center text-primary">
                                                <span><i class="fe fe-briefcase fs-20"></i></span>
                                            </div>
                                            <div>
                                                <strong>{{ profil_servisa.get_grad_servisa }}</strong>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3 mt-3">
                                            <div class="me-4 text-center text-primary">
                                                <span><i class="fe fe-map-pin fs-20"></i></span>
                                            </div>
                                            <div>
                                                <strong>{{ profil_servisa.adresa_servisa }}</strong>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3 mt-3">
                                            <div class="me-4 text-center text-primary">
                                                <span><i class="fe fe-phone fs-20"></i></span>
                                            </div>
                                            <div>
                                                <strong>{{ profil_servisa.broj_telefona_servisa }}</strong>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center mb-3 mt-3">
                                            <div class="me-4 text-center text-primary">
                                                <span><i class="fe fe-mail fs-20"></i></span>
                                            </div>
                                            <div>
                                                <strong>{{ profil_servisa.user.email }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END BIOGRAFIJA -->
                            </div>
                            <!-- END STATISTIKA, SLIKA I BIOGRAFIJA -->

                            <!-- RATING STAR AND REVIEW -->
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        {% if user.role != "SERVIS" %}
                                            <form action="{% url 'auto_servis:submit_review' servis.id %}" method="POST">
                                                {% csrf_token %}
                                                {% include 'auto_servis/partials/alerts.html' %}
                                                <br>
                                                <h5>Ostavite Vaš Utisak</h5>
                                                <div class="rate">
                                                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                                                </div><br>
                                                <strong>Kratak Naslov:</strong>
                                                <input type="text" class="form-control mb-4 mt-4" name="subject" placeholder="Naslov..." >
                                                <textarea class="form-control" name="review" placeholder="Vaš utisak ovde..." rows="7"></textarea>
                                                <div class="profile-share border-top-0">
                                                    <button class="btn btn-md btn-success ms-auto"><i class="fa fa-share ms-1"></i> Sačuvaj Utisak</button>
                                                </div>
                                            </form>
                                        {% elif reviews %}
                                            <h4><i class="fe fe-activity text-primary mx-2"></i><strong>Utisci Vozača:</strong></h4>
                                        {% else %}
                                            <div class="card border p-0 shadow-none">
                                                <div class="card-body">
                                                    <h4><i class="fe fe-activity text-primary mx-2"></i><strong>Trenutno nema utisaka Vozača!</strong></h4>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% for review in reviews %}
                                    <div class="card border p-0 shadow-none">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="media mt-0">
                                                    <div class="media-user me-2">
                                                        <div class=""><img alt="" class="rounded-circle avatar avatar-md" src="{% static 'assets/images/auto-servisi/review-avatar.png' %}"></div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="rating-star">
                                                            <span>
                                                                <i class="fa fa-star{% if review.rating < 0.5 %}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if review.rating < 1.5 %}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if review.rating < 2.5 %}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if review.rating < 3.5 %}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                                <i class="fa fa-star{% if review.rating < 4.5 %}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>

                                                            </span>
                                                        </div>
                                                        <h6 class="mb-0 mt-1">{{review.vozac}}</h6>
                                                        <small class="text-muted">{{review.updated_at}}</small>
                                                    </div>
                                                </div>
                                                <!-- BRISANJE UTISKA -->
                                                {% if review.vozac == user %}
                                                    <div class="ms-auto">
                                                        <div class="dropdown show">
                                                            <a class="new option-dots" href="JavaScript:void(0);" data-bs-toggle="dropdown">
                                                                <span class=""><i class="fe fe-more-vertical"></i></span>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <form action='{% url "auto_servis:obrisi_utisak_servisa" review.id %}'
                                                                    class="ogin100-form validate-form"
                                                                    method='POST'>
                                                                    {% csrf_token %}
                                                                    <button class="btn btn-outline-danger btn-sm btn-block"
                                                                        type="submit"
                                                                        value="Obriši {{ review.id }}">
                                                                        <i class="fa fa-trash-o"></i>&nbsp;Obriši Utisak
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <!-- END BRISANJE UTISKA -->
                                            </div>
                                            <div class="mt-4">
                                                <h4 class="fw-semibold mt-3">{{ review.subject }}</h4>
                                                <p class="mb-0">{{ review.review }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-footer user-pro-2">
                                            <div class="media mt-0">
                                                <div class="media-user me-2">
                                                </div>
                                                <div class="media-body">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- END RATING STAR AND REVIEW -->
                        </div>
                    </div>
                    <!-- COL-END -->
                </div>
                <!-- ROW-1 CLOSED -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!--app-content closed-->
{% endblock app_content %}
