{% extends "auto_servis/auto-servis-base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Lista Svih Auto Servisa {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Kategorija Zahteva">
    <meta name="keywords" content="Popravi Moj Auto.">
{% endblock meta_data %}

{% block app_content %}
    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Pregled Svih Auto Servisa</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"
                                aria-current="page">
                                <a href="{% url 'ponude:ponude' %}">Početna</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Lista Svih Auto Servisa </li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row row-cards">
                    <!-- COL-END -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card p-0">
                                    <div class="card-body p-4">
                                        <div class="row">

                                            {% if user.role == "VOZAC" %}

                                                <div class="col-xl-8 col-lg-8">
                                                    <a href="{% url 'ponude:kreiranje_zahteva' %}"
                                                        class="btn btn-primary btn-block float-end my-2 p-3">
                                                        <i class="fa fa-plus-square me-2"></i>Novi Zahtev
                                                    </a>
                                                </div>
                                                <div class="col-xl-1 col-lg-1 ">
                                                </div>
                                                <div class="col-xl-3 col-lg-3 ">
                                                    <form method="GET" action="{% url 'auto_servis:lista_svih_servisa' %}">
                                                        {% render_field profil_servisa_form.grad_auto_servisa class="form-control" %}
                                                        <input type="submit" value="Filtriranje Po Gradu" class="btn btn-primary btn-block mt-3" />
                                                    </form>
                                                </div>
                                            {% else %}
                                                <div class="col-xl-3 col-lg-3 ">
                                                    <form method="GET" action="{% url 'auto_servis:lista_svih_servisa' %}">
                                                        {% render_field profil_servisa_form.grad_auto_servisa class="form-control" %}
                                                        <input type="submit" value="Filtriranje Po Gradu" class="btn btn-primary btn-block mt-3" />
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-12">
                                <div class="row">
                                    {% if pages %}
                                        {% for servis in pages %}
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <div class="card overflow-hidden">
                                                    <div class="card-body text-white bg-indigo-darkest">
                                                        <div class="row g-0">
                                                            <!-- SLIKA SERVISA -->
                                                            <div class="col-xl-3 col-lg-12 col-md-12">
                                                                <div class="product-list">
                                                                    <div class="product-image">
                                                                        <ul class="icons">
                                                                            <li><a href="{% url 'auto_servis:detalji_servisa' servis.user.username %}" class="btn btn-primary"><i class="fe fe-eye text-white "></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="br-be-0 br-te-0">
                                                                        <a href="{% url 'auto_servis:detalji_servisa' servis.user.username  %}" class="">
                                                                            <img class="cover-image br-7 w-100"
                                                                                src="{{ servis.slika_logo_servisa.slika_logo_servisa.url|default:'/static/assets/images/auto-servisi/nema-servis-slike.jpg' }}"
                                                                                alt="img">
                                                                        </a>
                                                                    </div>
                                                                    <div class="price h6 mb-1 fw-bold text-center text-muted mt-1">Aktivnost: {{ servis.user.last_login }}</div>
                                                                </div>
                                                            </div>
                                                            <!-- END SLIKA SERVISA -->

                                                            <!-- IME & RATING & SLOGAN SERVISA & POZOVI SERVIS-->
                                                            <div class="col-xl-6 col-lg-12 col-md-12 my-auto">
                                                                <div class="mt-3">
                                                                    <a href="{% url 'auto_servis:detalji_servisa' servis.user.username %}" class="">
                                                                        {% if servis.ime_servisa %}
                                                                            <div class="card me-2">
                                                                                <span class="ribbone-info-left">
                                                                                    <span><strong> &nbsp;&nbsp;Auto Servis&nbsp;&nbsp;&nbsp;</strong></span>
                                                                                </span>

                                                                                <!-- TAG VERIFIKOVAN SERVIS -->
                                                                                {%  if servis.verifikovan_servis %}
                                                                                    <span class="pull-right tag tag-green text-black"
                                                                                        style="justify-content: right;">
                                                                                        <strong>Verifikovan Servis</strong>
                                                                                    </span>
                                                                                {%  else %}
                                                                                    <span class="pull-right tag tag-gray text-black"
                                                                                        style="justify-content: right;">
                                                                                        <strong>Servis Nije Verifikovan</strong>
                                                                                    </span>
                                                                                {%  endif %}
                                                                                <!-- END TAG VERIFIKOVAN SERVIS -->

                                                                                <div class="card-body p-4">
                                                                                    <h3 class="fw-bold fs-30 mt-4 mb-1 text-white">{{ servis.ime_servisa }}</h3>
                                                                                    <!-- GRAD SERVISA ISPOD IMENA -->
                                                                                    {% if servis.grad_auto_servisa %}
                                                                                        <span class="tag tag-radius tag-round tag-outline-warning text-white"><strong>&nbsp;{{ servis.get_grad_servisa }}</strong></span>
                                                                                    {% else %}
                                                                                        <span class="tag tag-radius tag-round tag-outline-warning text-whites"><strong>&nbsp;{{ servis.user.get_grad_servisa }}</strong></span>
                                                                                    {% endif %}
                                                                                    <!-- END GRAD SERVISA ISPOD IMENA -->


                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="card me-2">
                                                                                <span class="ribbone-info-left">
                                                                                    <span><strong> &nbsp;&nbsp;Ime Servisa!&nbsp;&nbsp;&nbsp;</strong></span>
                                                                                </span>
                                                                                <div class="card-body p-4">
                                                                                    <h3 class="fw-bold fs-30 mt-4 mb-1">{{ servis.user.username }}</h3>
                                                                                    <!-- TAG VERIFIKOVAN SERVIS -->
                                                                                    <span class="tag tag-rounded tag-icon tag-orange"><i class="fe fe-bell"></i>Third tag <a href="javascript:void(0)" class="tag-addon tag-addon-cross tag-orange"><i class="fe fe-x text-white m-1"></i></a></span>
                                                                                    <!-- END TAG VERIFIKOVAN SERVIS -->
                                                                                    <!-- GRAD SERVISA ISPOD IMENA -->
                                                                                    {% if servis.grad_auto_servisa %}
                                                                                        <span class="tag tag-radius tag-round tag-yellow text-black"><strong>&nbsp;{{ servis.get_grad_servisa }}</strong></span>
                                                                                    {% else %}
                                                                                        <span class="tag tag-radius tag-round tag-green text-black"><strong>&nbsp;{{ servis.user.get_grad_servisa }}</strong></span>
                                                                                    {% endif %}
                                                                                    <!-- END GRAD SERVISA ISPOD IMENA -->


                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                        <!-- ZVEZDICE -->
                                                                        <div class="mb-2 text-warning">
                                                                            <i class="fa fa-star{% if servis.averageReview < 0.5 %}-o{% elif servis.averageReview >= 0.5 and servis.averageReview < 1 %}-half-o{% endif %} fa-2x text-warning"></i>
                                                                            <i class="fa fa-star{% if servis.averageReview < 1.5 %}-o{% elif servis.averageReview >= 1.5 and servis.averageReview < 2 %}-half-o{% endif %} fa-2x text-warning"></i>
                                                                            <i class="fa fa-star{% if servis.averageReview < 2.5 %}-o{% elif servis.averageReview >= 2.5 and servis.averageReview < 3 %}-half-o{% endif %} fa-2x text-warning"></i>
                                                                            <i class="fa fa-star{% if servis.averageReview < 3.5 %}-o{% elif servis.averageReview >= 3.5 and servis.averageReview < 4 %}-half-o{% endif %} fa-2x text-warning"></i>
                                                                            <i class="fa fa-star{% if servis.averageReview < 4.5 %}-o{% elif servis.averageReview >= 4.5 and servis.averageReview < 5 %}-half-o{% endif %} fa-2x text-warning"></i>
                                                                            &nbsp;{{ servis.averageReview }} / 5
                                                                            <br>
                                                                            &nbsp;&nbsp;ukupno utisaka: {{ servis.countReview }}
                                                                        </div>
                                                                        <!-- END ZVEZDICE -->
                                                                    </a>
                                                                    <hr/>
                                                                    <!-- SLOGAN SERVISA -->
                                                                    {% if servis.slogan_servisa %}
                                                                        <h4 class="fw-bold fs-16">{{ servis.slogan_servisa }} </h4>
                                                                    {% endif %}
                                                                    <!-- END SLOGAN SERVISA -->

                                                                    <!-- STATISTIKA U KARTICI LISTINGA -->
                                                                    <div class="notification-body">
                                                                        <div class="media mt-0">
                                                                            <!-- BROJ PONUDA SERVISA -->
                                                                            <div class=" bradius me-1 mt-1">
                                                                                <i class="fa fa-address-book-o fa-3x text-white"></i>
                                                                            </div>
                                                                            <div class="media-body d-flex">
                                                                                <div class="">
                                                                                    <p class="fs-11 text-dark fw-bold mb-0">Ponude</p>
                                                                                    <p class="mb-0 fs-4 text-dark">&nbsp; {{ servis.count_ponude }}</p>
                                                                                </div>
                                                                            </div>
                                                                            <!-- END BROJ PONUDA SERVISA -->

                                                                            <!-- BROJ POSLOVA SERVISA -->
                                                                            <div class=" bradius me-1 mt-1">
                                                                                <i class="fa fa-car fa-3x text-white"></i>
                                                                            </div>
                                                                            <div class="media-body d-flex">
                                                                                <div class="">
                                                                                    <p class="fs-11 text-dark fw-bold mb-0">Poslovi</p>
                                                                                    <p class="mb-0 fs-4 text-dark">&nbsp;{{ servis.count_prihvacene_poonude }}</p>
                                                                                </div>
                                                                            </div>
                                                                            <!-- END BROJ POSLOVA SERVISA -->
                                                                        </div>
                                                                    </div>
                                                                    <!-- END STATISTIKA U KARTICI LISTINGA -->

                                                                    <div class="row">
                                                                        <div class="px-0 px-sm-4">
                                                                            <!-- POZOVI I PREGLED PROFILA SEERVISA  VIDLJIVO SAMO NA MALIM REZOLUCIJAMA -->
                                                                            <div class="card-body p-0 d-lg-none">
                                                                                <a href="{% url 'auto_servis:detalji_servisa' servis.user.username %}" class="btn btn-outline-primary btn-block mt-2">
                                                                                    <i class="fe fe-eye mx-2 wishlist-icon"></i>Pogledaj Profil
                                                                                </a>
                                                                                {% if servis.broj_telefona_servisa %}
                                                                                    <a href="tel: {{ servis.broj_telefona_servisa }}" class="btn btn-primary btn-block">
                                                                                        <i class="fe fe-phone-call mx-2"></i>Pozovi Servis
                                                                                    </a>
                                                                                {% elif servis.broj_telefona_vlasnika %}
                                                                                    <a href="tel: {{ servis.broj_telefona_servisa }}" class="btn btn-primary btn-block">
                                                                                        <i class="fe fe-phone-call mx-2"></i>Pozovi Servis
                                                                                    </a>
                                                                                {% else %}
                                                                                    <a href="{% url 'auto_servis:detalji_servisa' servis.user.username %}" class="btn btn-primary btn-block">
                                                                                        <i class="fe fe-phone-missed mx-2"></i>Telefon nije unet!
                                                                                    </a>
                                                                                {% endif %}
                                                                            </div>
                                                                            <!-- END POZOVI I PREGLED PROFILA SEERVISA  VIDLJIVO SAMO NA MALIM REZOLUCIJAMA -->

                                                                            <!-- SOCIAL ICONS SERVISA -->
                                                                            <div class="social social-profile-buttons mt-5 float-end">
                                                                                <div class="mt-3">
                                                                                    {% if servis.web_site_servisa %}
                                                                                        <a class="social-icon" href="{{ servis.web_site_servisa }}" target="_blank">
                                                                                            <i class="fa fa-globe text-white"></i>
                                                                                        </a>
                                                                                    {% endif %}
                                                                                    {% if servis.twitter_link %}
                                                                                        <a class="social-icon" href="https://{{ servis.twitter_link }}" target="_blank">
                                                                                            <i class="fa fa-twitter text-white"></i>
                                                                                        </a>
                                                                                    {% endif %}
                                                                                    {% if servis.facebook_link %}
                                                                                        <a class="social-icon" href="https://{{ servis.facebook_link }}" target="_blank">
                                                                                            <i class="fa fa-facebook text-white"></i>
                                                                                        </a>
                                                                                    {% endif %}

                                                                                    {% if servis.youtube_link %}
                                                                                        <a class="social-icon" href="https://{{ servis.youtube_link }}" target="_blank">
                                                                                            <i class="fa fa-youtube text-white"></i>
                                                                                        </a>
                                                                                    {% endif %}

                                                                                    {% if servis.instagram_link %}
                                                                                        <a class="social-icon" href="https://{{ servis.instagram_link }}" target="_blank">
                                                                                            <i class="fa fa-instagram text-white"></i></a>
                                                                                    {% endif %}

                                                                                    {% if servis.linkedin_link %}
                                                                                        <a class="social-icon" href="https://{{ servis.linkedin_link }}" target="_blank">
                                                                                            <i class="fa fa-linkedin text-white"></i>
                                                                                        </a>
                                                                                    {% endif %}
                                                                                    <br>
                                                                                </div>
                                                                            </div>
                                                                            <!-- END SOCIAL ICONS SERVISA -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END IME & RATING & SLOGAN SERVISA & POZOVI SERVIS-->

                                                            <!-- POZOVI I PREGLED PROFILA SEERVISA  VIDLJIVO SAMO NA VELIKIM REZOLUCIJAMA -->
                                                            <div class="col-xl-3 col-lg-12 col-md-1 my-auto d-none d-lg-block">
                                                                <div class="card-body p-0">
                                                                    {% if servis.grad_auto_servisa %}
                                                                        <div class="price h3 text-center mb-5 fw-bold">{{ servis.get_grad_servisa }}</div>
                                                                    {% else %}
                                                                        <div class="price h3 text-center mb-5 fw-bold">{{ servis.user.get_grad_servisa }}</div>
                                                                    {% endif %}
                                                                    <a href="{% url 'auto_servis:detalji_servisa' servis.user.username %}" class="btn btn-outline-primary btn-block mt-2">
                                                                        <i class="fe fe-eye mx-2 wishlist-icon"></i>Pogledaj Profil
                                                                    </a>
                                                                    {% if servis.broj_telefona_servisa %}
                                                                        <a href="tel: {{ servis.broj_telefona_servisa }}" class="btn btn-primary btn-block">
                                                                            <i class="fe fe-phone-call mx-2"></i>Pozovi Servis
                                                                        </a>
                                                                    {% elif servis.broj_telefona_vlasnika %}
                                                                        <a href="tel: {{ servis.broj_telefona_servisa }}" class="btn btn-primary btn-block">
                                                                            <i class="fe fe-phone-call mx-2"></i>Pozovi Servis
                                                                        </a>
                                                                    {% else %}
                                                                        <a href="{% url 'auto_servis:detalji_servisa' servis.user.username %}" class="btn btn-primary btn-block">
                                                                            <i class="fe fe-phone-missed mx-2"></i>Telefon nije unet!
                                                                        </a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <!-- END POZOVI I PREGLED PROFILA SEERVISA  VIDLJIVO SAMO NA VELIKIM REZOLUCIJAMA -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor  %}
                                        {% if pages.has_other_pages %}
                                            <div class="mb-5">
                                                <div class='d-flex justify-content-center'>
                                                    <ul class='pagination'>
                                                        {% if pages.has_previous %}
                                                            <li class='page-item'>
                                                                <a class='page-link' href='?page={{ pages.previous_page_number }}{% if get_grad_servisa_pagination_url %}&grad_auto_servisa={{ get_grad_servisa_pagination_url }}{% endif %}'>
                                                                    &laquo;
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class='page-item disabled'>
                                                                <a class='page-link' href='#'>&laquo;</a>
                                                            </li>
                                                        {% endif %}
                                                        {% for i in pages.paginator.page_range %}
                                                            {% if pages.number == i %}
                                                                <li class='page-item active'>
                                                                    <a class='page-link' href='#'>{{ i }}</a>
                                                                </li>
                                                            {% else %}

                                                                <li class='page-item'>
                                                                    <a class='page-link'
                                                                        href='?page={{ i }}{% if get_grad_servisa_pagination_url %}&grad_auto_servisa={{ get_grad_servisa_pagination_url }}{% endif %}'>
                                                                        {{ i }}
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if pages.has_next %}
                                                            <li class='page-item'>
                                                                <a class='page-link' href='?page={{ pages.next_page_number }}{% if get_grad_servisa_pagination_url %}&grad_auto_servisa={{ get_grad_servisa_pagination_url }}{% endif %}'>
                                                                    &raquo;
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class='page-item disabled'>
                                                                <a class='page-link' href='#'>&raquo;</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="product-grid6">
                                                    <div class="product-image6 p-5"></div>
                                                    <div class="card-body pt-0">
                                                        <div class="product-content text-center">
                                                            <h1 class="title fw-bold fs-20">Trenutno nema registrovanih Auto Servisa. </h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- COL-END -->
                    </div>
                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- ROW-1 END -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!--app-content closed-->
{% endblock app_content %}
