{% extends "auto_servis/auto-servis-base.html" %}
{% load static %}

{% block title %} Auto Servis: {{ user.username }} {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Izmena Profila Auto Servisa: {{ user.username }}">
    <meta name="keywords" content="Auto Servis, {{ user.username }}">
{% endblock meta_data %}

{% block app_content %}

{% endblock app_content %}
