{% extends "auctions/auctions_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Zahtev {{ auction.title }} {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Dashboard">
    <meta name="keywords" content="Popravi Moj Auto.">
{% endblock meta_data %}

{% block app_content %}
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">
                        <span class="fw-bold me-2">
                            <small class="fw-bold me-2">Detalji Zahteva Korisnika:</small>
                        </span><small class="fw-bold me-2 text-primary">{{ auction.creator }}</small>
                        <br>
                        <span class="fw-bold me-2">

                        </span>
                    </h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'ponude:ponude' %}">Početna</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ auction.title }}</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- Watchlist -->
                <div>
                    {% if auction.is_watched %}
                        <a class='btn btn-outline-danger mt-auto'
                            href="{% url 'ponude:pracenje_zahteva_edit' auction.id 'ponude:detalji_zahteva_view' %}">
                            <i class="fa fa-close"></i> Ukloni sa liste praćenja
                        </a>
                    {% else %}
                        <a class='btn btn-outline-success mt-auto'
                            href="{% url 'ponude:pracenje_zahteva_edit' auction.id 'ponude:detalji_zahteva_view' %}">
                            <i class="fa fa-check-square"></i> Dodaj u listu koju pratim
                        </a>
                    {% endif %}
                </div>
                <!-- END Watchlist -->
                <br>
                <!-- ROW-1 OPEN -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row row-sm">
                                    <div class="col-xl-5 col-lg-12 col-md-12">
                                        <div class="row">
                                            <!-- SLIKA ZAGLAVLJA -->
                                            <div class="col-xl-12">
                                                <div class="product-carousel">
                                                    <div id="Slider" class="carousel slide border" data-bs-ride="false">
                                                        <div class="carousel-inner">
                                                            <div class="carousel-item active">
                                                                {% for image in images %}
                                                                    <img class="img-fluid br-7 w-100`"
                                                                        style="width: 300px;; height: auto"
                                                                        src="{{ image.image.url }}"
                                                                        alt='Slika Automobila'>
                                                                {% empty %}
                                                                    <img class="img-fluid br-7 w-100`"
                                                                        src="{% static 'assets/images/auctions/no-car.jpg' %}"
                                                                        alt='Image Not Available'
                                                                        style='width: 300px;'>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END SLIKA ZAGLAVLJA -->
                                        </div>
                                    </div>
                                    <!-- DETALJI ZAHTEVA -->
                                    {% include 'auctions/partials/detalji_zahteva.html' with object=auction %}
                                    <!-- END DETALJI ZAHTEVA -->
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if user.role == "SERVIS" and auction.active %}
                        <!-- POSLEDNJA CENA -->
                        <div class="col-xl-6">
                            <div class="card h-100">
                                <div class='card-header'>
                                    <div class="card-title">Poslednja Ponuđena Cena Servisa</div>
                                </div>
                                <div class="product-grid6">
                                    <div class="product-image6 p-5"></div>
                                    <div class="card-body pt-0">
                                        <div class="product-content text-center">
                                            {% if ponude_auto_servisa_zadnja_cena.amount %}
                                                <h1 class="title fw-bold fs-20">{{ ponude_auto_servisa_zadnja_cena.servis }}</h1>
                                                <h1 class="title fw-bold fs-20">{{ ponude_auto_servisa_zadnja_cena.amount }} rsd</h1>
                                            {% else %}
                                                <h1 class="title fw-bold fs-20">Nema cene za ovaj zahtev. </h1>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END POSLEDNJA CENA -->

                        <!-- UNOS CENE PONUDE ZA ZAHTEV -->
                        <div class='col-xl-6'>
                            <div class='card mb-4 h-100'>
                                <div class='card-header'>
                                    <div class="card-title">{{ user.username  }}, Vaša ponuda ovde!</div>
                                </div>
                                <form action="{% url 'ponude:ponuda_zahteva' auction.id %}" method='POST'>
                                    {% csrf_token %}
                                    <div class='card-body'>
                                        <!-- Product price-->
                                        <p>
                                            {% if auction.current_bid is None %}
                                                {% if auction.creator != user %}
                                                    <div class='alert alert-secondary' role='alert'>
                                                        Budite prvi Servis koji će postaviti ponudu za ovaj zahtev!
                                                    </div>
                                                {% endif %}
                                            {% elif auction.buyer is not None %}
                                                {% if auction.creator == user %}
                                                    <div class='alert alert-secondary' role='alert'>
                                                        Zahtev je već odobren servisu: <strong>{{ auction.buyer }}</strong> za <strong>{{ auction.current_bid }} rsd</strong>.
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            <div class='form-group mt-2'>
                                                {% render_field bid_form.amount class="form-control form-control-lg" placeholder="Vaša cena ovde..." %}
                                                {% render_field bid_form.opis_ponude class="form-control form-control-lg mt-4" placeholder="Kratak Opis Ponude... **(max 100 karaktera)" %}
                                                <div class="mt-1">
                                                    <button type='submit' class='btn btn-primary btn-lg mt-7 mb-0'>Postavi Ponudu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    {% elif auction.active == False and auction.buyer is not None %}
                        <div class='row'>
                            <!-- Comments -->
                            <div class='col-xl-12'>
                                <div class='card mb-4'>
                                    <div class='card-header'>
                                        <i class='fa fa-comments'></i>&nbsp;Detalji Zahteva
                                    </div>
                                    <div class='card-body'>
                                        {% if auction.creator == user %}
                                            <div class='alert alert-success' role='alert'>
                                                Zahtev je već odobren servisu: <strong>{{ auction.buyer }}</strong> za <strong>{{ auction.current_bid }} rsd</strong>.
                                            </div>
                                        {% elif auction.buyer == user %}
                                            <div class='alert alert-success' role='alert'>
                                                Čestitamo, Vaša ponuda je prihvaćena:  <strong>{{ auction.title }} za {{ auction.current_bid }} rsd</strong>.
                                            </div>
                                        {% else %}
                                            <div class='alert alert-warning' role='alert'>
                                                Zahtev je već odobren <strong>{{ auction.buyer }}</strong> za <strong>{{ auction.current_bid }} rsd</strong>.
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END UNS CENE PONUDE ZA ZAHTEV -->
                    {% endif %}

                    <!-- LISTING SVIH PONUDE ZAHTEVA SERISA -->
                    <div class="border-top my-3" id="listing-ponuda-zahteva"></div>
                    <h3 class="p-3 mb-2">Listing Ponuda Zahteva</h3>
                    {% include 'auctions/partials/partials_listing_ponuda_zahteva.html' %}
                    <!-- END LISTING SVIH PONUDE ZAHTEVA SERISA -->


                    <!-- VIDLJIVO SAMO SERVISERIMA -->
                    {% if user.role == "SERVIS" %}
                        <div class="border-top my-3" id="preporucene-ponude-zahteva"></div>
                        <!-- PREPORUCENI ZAHTEVI SERVISIMA -->
                        <h3 class="p-3 mb-5">Vidi Još Neke Zahteve</h3>
                        {% for poporuceni_zahtev in preporuceni_zahtevi_servisima %}
                            <div class="col-md-6 col-xl-3">
                                <div class="card">
                                    <div class="product-grid6">
                                        <div class="product-image6 p-5">
                                            <ul class="icons">
                                                <li>
                                                    <a href="{% url 'ponude:detalji_ponude_view' poporuceni_zahtev.id %}" class="btn btn-primary"> <i class="fe fe-eye ">  </i> </a>
                                                </li>
                                            </ul>
                                            <a href="{% url 'ponude:detalji_ponude_view' poporuceni_zahtev.id %}" class="bg-light">
                                                <img class="img-fluid br-7 w-100`"
                                                    style="width: auto; height: 200px;"
                                                    src="{{ poporuceni_zahtev.image.image.url|default:'/static/assets/images/auctions/no-car.jpg' }}" alt="img">
                                            </a>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="product-content text-center">
                                                <h1 class="title fw-bold fs-20 text-truncate">
                                                    <a href="{% url 'ponude:detalji_ponude_view' poporuceni_zahtev.id %}">{{ poporuceni_zahtev.title }}</a>
                                                </h1>
                                                <div class="mb-2 text-warning">
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                </div>
                                                <!-- CENA -->
                                                {% if poporuceni_zahtev.amount.amount == None %}
                                                    <div class="price">Nema Ponuda</div>
                                                {% else %}
                                                    <div class="price">{{ poporuceni_zahtev.amount.amount }} rsd</div>
                                                {% endif %}
                                                <!-- END CENA -->
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <input type="hidden" name="next" value="{{ next }}">
                                            <a href="{% url 'ponude:detalji_ponude_view' poporuceni_zahtev.id %}"
                                                class="btn btn-primary mb-1">
                                                <i class="fe fe-bar-chart-2 mx-2"></i>Detalji
                                            </a>
                                            {% for pracenje in id_pracenog_zahteva %}
                                                {%  if pracenje.id == poporuceni_zahtev.id %}
                                                    <a href="{% url 'ponude:detalji_ponude_view' poporuceni_zahtev.id %}"
                                                        class="btn btn-outline-primary mb-1">
                                                        <i class="fe fe-heart mx-2 wishlist-icon"></i>Zahtev koji pratim
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- END PREPORUCENI ZAHTEVI SERVISIMA -->
                        </div>

                    {% endif %}
                    <!-- END VIDLJIVO SAMO SERVISERIMA -->

                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- CONTAINER CLOSED -->
            </div>
        </div>
{% endblock app_content %}

{% block extra-javascript %}
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.3"></script>
{% endblock extra-javascript %}
