{% extends "auctions/auctions_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Kreiranje Zahteva {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Dashboard">
    <meta name="keywords" content="Popravi Moj Auto.">
{% endblock meta_data %}

{% block app_content %}
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Kreiranje Zahteva</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'ponude:ponude' %}">Početna</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kreiranje Zahteva</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- UNOS ZAHTEVA VOZACA -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- FORMA UNOSA ZAHTEVA -->
                        <form  action='' class="ogin100-form validate-form needs-validation" method='POST' enctype='multipart/form-data' id="submit-button">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Dodaj Novi Zahtev</div>
                                </div>
                                {% if success %}
                                    <!-- OBAVESTENJE USPESNO KREIRAN ZAHTEV -->
                                    {% include 'auctions/partials/partials_modal_uspesno_kreira_zahtev.html' %}

                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <br>
                                            <div id='success-alert' class='alert alert-success' role='alert'>Zahtev je uspešno postavljen!</div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <!--Row-->
                                        <a href="{% url 'ponude:aktivni_zahtevi_vozaca' user.username %}" class="btn btn-primary btn-lg">Pregled Vaših Zahteva</a>
                                        <!--End Row-->
                                    </div>
                                    <!-- END OBAVESTENJE USPESNO KREIRAN ZAHTEV -->
                                {% else %}
                                    <!-- NASLOV ZAHTEVA -->
                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Kratak Opis Zahteva:</label>
                                            <div class="col-md-9">
                                                {% render_field auction_form.title class="form-control" placeholder="Kratak Opis Zahteva..." required="required" %}
                                                <div class="invalid-feedback m-1">Unesite Kratak Opis Zahteva!</div>
                                            </div>
                                        </div>
                                        <!-- END NASLOV ZAHTEVA -->

                                        <!-- KATEGORIJA ZAHTEVA -->
                                        <div class="row mb-4">
                                            <label class="col-md-3 form-label">Kategorija Zahteva:</label>
                                            <div class="col-md-9">
                                                {% render_field auction_form.category class="form-control" placeholder="Detaljan Opis Zahteva..." required="required" %}
                                                <div class="invalid-feedback m-1">Unesite Kategoriju Zahteva!</div>
                                            </div>
                                        </div>
                                        <!-- END KATEGORIJA ZAHTEVA -->

                                        <!-- DETALJAN OPIS ZAHTEVA -->
                                        <div class="row">
                                            <label class="col-md-3 form-label mb-4">Detaljan Opis Zahteva:</label>
                                            <div class="col-md-9 mb-4">
                                                {% render_field auction_form.description class="form-control" placeholder="Detaljan Opis Zahteva..." required="required" %}
                                                <div class="invalid-feedback m-1">Unesite Detaljan Opis Zahteva!</div>
                                            </div>
                                        </div>
                                        <!-- END DETALJAN OPIS ZAHTEVA -->

                                        <!-- SLIKA ZAHTEVA -->
                                        <div class="row">
                                            <label class="col-md-3 form-label mb-4">Slika Vašeg Automobila:</label>
                                            <div class="col-md-9">
                                                {{ image_form.management_form }}
                                                {% for form in image_form %}
                                                    {% render_field form.image class="dropify" %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- END SLIKA ZAHTEVA -->
                                    </div>

                                    <!--BTN KREIRANJA i ODUSTAJANJA ZAHTEVA-->
                                    <div class="card-footer">

                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <button type='submit' class='btn btn-primary btn-lg'>
                                                    <i class="fa fa-check-square"></i> Kreiraj Zahtev
                                                </button>
                                                <a href="{% url 'ponude:ponude' %}" class="btn btn-outline-danger float-end btn-lg">
                                                    <i class="fa fa-close"></i> Odustani
                                                </a>
                                            </div>
                                        </div>
                                        <!--END BTN KREIRANJA i ODUSTAJANJA ZAHTEVA-->
                                    </div>
                                {% endif %}
                            </div>

                            <!-- MODAL UCITAVANJA ZAHTEVA ZAHTEVA-->
                            <div id="ucitavanje_zahteva_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h3 class="modal-title">Učitavanje Zahteva...</h3>
                                            <div class="example">
                                                <div class="progress progress-md mb-3">
                                                    <div class="progress-bar progress-bar-indeterminate bg-pink"></div>
                                                </div>
                                                <div class="progress progress-md mb-3">
                                                    <div class="progress-bar progress-bar-indeterminate bg-yellow-1"></div>
                                                </div>
                                                <div class="progress progress-md mb-3">
                                                    <div class="progress-bar progress-bar-indeterminate bg-blue-1"></div>
                                                </div>
                                                <div class="progress progress-md">
                                                    <div class="progress-bar progress-bar-indeterminate bg-purple-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END MODAL UCITAVANJA ZAHTEVA ZAHTEVA-->
                        </form>
                        <!-- END FORMA UNOSA ZAHTEVA -->
                    </div>
                </div>
                <!-- END UNOS ZAHTEVA VOZACA -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card p-0">
                            <div class="card-body p-4">
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="page-title">Podaci Automobila</h1>
                <hr/>

                <!-- PODACI O AUTOMOBILU (VIN BROJ, KILOMETRAZA) -->
                <div class="row">
                    <!-- VIN BROJ -->
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">VIN BROJ (broj šasije):</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.vin|default_if_none:"VIN" }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- END VIN BROJ -->

                    <!-- KILOMETRAZA -->
                    <div class="col-md-6 col-xl-6">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">KILOMETRAŽA:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.kilometraza|default_if_none:"0 km" }}</h3>
                            </div>

                        </div>
                    </div>
                    <!-- END KILOMETRAZA -->
                </div>
                <!-- END PODACI O AUTOMOBILU (VIN BROJ, KILOMETRAZA) -->

                <!-- PODACI O AUTOMOBILU (MARKA, MODEL, GODISTE) -->
                <div class="row">
                    <!-- MARKA -->
                    <div class="col-md-4 col-xl-4">
                        <div class="card">
                            <div class="card-header br-te-3 br-ts-3" style="background-color: #6c5ffc;">
                                <h3 class="card-title text-white">MARKA:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.marka|default_if_none:"marka" }}</h3>
                            </div>

                        </div>
                    </div>
                    <!-- END MARKA -->

                    <!-- MODEL -->
                    <div class="col-md-4 col-xl-4">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">MODEL:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.modell|default_if_none:"model" }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- END MODEL -->

                    <!-- GODISTE -->
                    <div class="col-md-4 col-xl-4">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">GODIŠTE:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.godiste|default_if_none:"godiste" }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- END GODISTE -->
                </div>
                <!-- END PODACI O AUTOMOBILU (MARKA, MODEL, GODISTE) -->

                <!-- PODACI O AUTOMOBILU (GORIVO, ZAPREMINA, SNAGA) -->
                <div class="row">
                    <!-- GORIVO -->
                    <div class="col-md-4 col-xl-4">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">VRSTA GORIVA:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.vrsta_goriva|default_if_none:"vrsta goriva" }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- END GORIVO -->

                    <!-- ZAPREMINA -->
                    <div class="col-md-4 col-xl-4">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">ZAPREMINA MOTORA:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.zapremina_motora|default_if_none:"0 ccm" }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- END ZAPREMINA -->

                    <!-- SNAGA -->
                    <div class="SNAGA col-xl-4">
                        <div class="card">
                            <div class="card-header bg-primary br-te-3 br-ts-3">
                                <h3 class="card-title text-white">SNAGA MOTORA:</h3>
                                <div class="card-options ">
                                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                                    <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>{{ profil_vozaca.snaga_motora|default_if_none:"0 ks / 0 kw" }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- END GODISTE -->
                </div>
                <!-- END PODACI O AUTOMOBILU (GORIVO, ZAPREMINA, SNAGA) -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
{% endblock app_content %}

{% block extra-javascript %}
    <!-- INTERNAL WYSIWYG Editor JS -->
    <script src="{% static 'assets/plugins/wysiwyag/jquery.richtext.js' %}"></script>
    <script src="{% static 'assets/plugins/wysiwyag/wysiwyag.js' %}"></script>

    <!-- INTERNAL File-Uploads Js-->
    <script src="{% static 'assets/plugins/fancyuploder/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/jquery.fileupload.js' %}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js' %}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/fancy-uploader.js' %}"></script>

    <!-- FORM WIZARD JS-->
    <script src="{% static 'assets/plugins/formwizard/jquery.smartWizard.js' %}"></script>
    <script src="{% static 'assets/plugins/formwizard/fromwizard.js' %}"></script>

    <!-- INTERNAl Jquery.steps js -->
    <script src="{% static 'assets/plugins/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'assets/plugins/parsleyjs/parsley.min.js' %}"></script>

    <!-- INTERNAL Accordion-Wizard-Form js-->
    <script src="{% static 'assets/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js' %}"></script>
    <script src="{% static 'assets/js/form-wizard.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#kreiranaPonudaModal').modal('show');
        });
    </script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.3"></script>

    <!-- FILE UPLOADES JS -->
    <script src="{% static 'assets/plugins/fileuploads/js/fileupload.js' %}"></script>
    <script src="{% static 'assets/plugins/fileuploads/js/file-upload.js' %}"></script>

    <!-- CEKAJ DA SE UCITA ZAHTEV NA DO SPACE JS -->
    <script src="{% static 'assets/js/modal-ucitavanja-zahteva.js' %}"></script>
{% endblock extra-javascript %}
