{% extends "auctions/auctions_base.html" %}
{% load static %}

{% block title %} Zahtev {{ auction.title }} {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Dashboard">
    <meta name="keywords" content="Popravi Moj Auto.">
{% endblock meta_data %}

{% block app_content %}
    <div class="main-content app-content mt-0">
        <h1>READY KREIRANJE ZAHTEVA TEMPLATE !!!!</h1>
    </div>
{% endblock app_content %}
