{% extends "auctions/auctions_base.html" %}
{% load static %}

{% block title %} Zahtevi Koje Pratim: {{ user.username }} {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Kategorija Zahteva">
    <meta name="keywords" content="Popravi Moj Auto.">
{% endblock meta_data %}

{% block app_content %}
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Zahtevi Koje Pratim [{{ user.username }}]</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'ponude:ponude' %}">Početna</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Zahtevi Koje Pratim</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row row-cards">
                    <div class="col-xl-12 col-lg-12">
                        <!-- HEADER SEARCH---NOVI ZAHTEV ... -->
                        <div class="row ">
                            <div class="col-xl-12">
                                <div class="card p-2 card-block justify-content-between align-items-end">
                                    {% if user.role == "VOZAC" %}
                                        <div class="col-xl-12 col-lg-12 ">
                                            <a href="{% url 'ponude:kreiranje_zahteva' %}" class="btn btn-primary btn-block p-3">
                                                <i class="fa fa-plus-square me-2"></i><strong>Novi Zahtev</strong>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- END HEADER SEARCH---NOVI ZAHTEV ... -->

                        <div class="tab-content">
                            <!-- CARD PREGLED U KOCKICAMA -->
                            <div class="tab-pane active" id="tab-11">
                                <div class="row">
                                    <!-- CARD ZAHTEVA -->
                                    {% if pages %}
                                        {% for auction in pages %}
                                            <div class="col-md-6 col-xl-4 col-sm-6">
                                                <div class="card">
                                                    <div class="product-grid6">
                                                        <!-- HOVER ICONS -->
                                                        <div class="product-image6 p-0">
                                                            <ul class="icons">
                                                                <li>
                                                                    <a href="{% url 'ponude:detalji_ponude_view' auction.id %}" class="btn btn-primary">
                                                                        <i class="fe fe-eye"></i>
                                                                    </a>
                                                                </li>
                                                                <li></li>
                                                            </ul>
                                                            <!-- SLIKA SAMO ZA MALE REZOLUCIJE -->
                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}" class="img-wrapper d-lg-none">
                                                                <img class="rounded-3 img-fluid img-center" style='width:100%; height: 40vw; object-fit: cover;'
                                                                    src="{{ auction.image.image.url|default:'/static/assets/images/auctions/no-car.jpg' }}"
                                                                    alt="img">
                                                            </a>
                                                            <!-- END SLIKA SAMO ZA MALE REZOLUCIJE -->

                                                            <!-- SLIKA SAMO ZA VELIKE REZOLUCIJE -->
                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}" class="img-wrapper d-none d-lg-block">
                                                                <img class="rounded-3 img-fluid img-center"
                                                                    src="{{ auction.image.image.url|default:'/static/assets/images/auctions/no-car.jpg' }}"
                                                                    alt="img">
                                                            </a>
                                                            <!-- END SLIKA SAMO ZA VELIKE REZOLUCIJE -->
                                                        </div>
                                                        <!-- END HOVER ICONS -->
                                                        <div class="col mt-1">
                                                            <div class="tags">
                                                                <span class="tag tag-radius tag-round tag-outline-primary">{{auction.user.user}}</span>
                                                                <span class="tag tag-radius tag-round tag-outline-secondary">{{auction.category}}</span>
                                                            </div>

                                                        </div>

                                                        <!-- INFO KARTICA -->
                                                        <div class="card-body pt-0 mt-2">
                                                            <div class="product-content text-center">
                                                                <div class="row">
                                                                    <div class="card ribbone-card">
                                                                        <h1 class="title fw-bold fs-20 text-truncate  mt-3">
                                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}">{{ auction.title|default_if_none:"..." }}</a>
                                                                        </h1>
                                                                    </div>
                                                                </div>
                                                                <!-- GRAD VOZACA -->
                                                                <div class="row">
                                                                    <div class="card ribbone-card">
                                                                        <div class="card-body p-4  mb-0">
                                                                            <span class="">
                                                                                <span class="tag tag-green fw-bold {% if auction.creator.get_grad_servisa %} text-black {% else %} text-danger {% endif %}"
                                                                                    style="font-size:11.0pt"><i class="bi bi-geo-fill text-red"></i>
                                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ auction.creator.get_grad_servisa|default_if_none:"..." }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- END GRAD VOZACA -->
                                                                    <hr/>
                                                                </div>
                                                                <!-- TAGOVI AUTA VOZACA -->
                                                                <div class="row">
                                                                    <div class="col m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-primary col-12"><strong>{{auction.user.vin|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6 m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-success col-12"><strong>{{auction.user.marka|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                    <div class="col m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-success  col-12"><strong>{{auction.user.modell|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6 m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-success col-12"><strong>{{auction.user.godiste|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                    <div class="col m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-success  col-12"><strong>{{auction.user.kilometraza|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6 m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-success col-12"><strong>{{auction.user.zapremina_motora|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                    <div class="col m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-success  col-12"><strong>{{auction.user.snaga_motora|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col m-1">
                                                                        <span class="tag tag-radius tag-round tag-outline-primary col-12"><strong>{{auction.user.vrsta_goriva|default_if_none:"..."}}</strong></span>
                                                                    </div>
                                                                </div>
                                                                <!-- END TAGOVI AUTA VOZACA -->

                                                                <hr/>

                                                                <!-- POSLEDNJA CENA PONUDE -->
                                                                {% if auction.current_bid  %}
                                                                    <div class="card mt-1">
                                                                        <span class="ribbone-info-left">
                                                                            <span><i class="fe fe-zap text-white"></i><strong>Poslednja Ponuda Servisa &nbsp;</strong></span>
                                                                        </span>
                                                                        <div class="card-body p-4">
                                                                            <div class="h3 text-center mb-5 mt-5 p-2 fw-bold bg-primary rounded-2">{{ auction.current_bid }} rsd</div>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="card mt-1">
                                                                        <span class="ribbone-danger-right">
                                                                            <span><i class="fe fe-eye text-white"></i><strong>Obaveštenje! &nbsp;</strong></span>
                                                                        </span>
                                                                        <div class="card-body p-4">
                                                                            <div class="h3 text-center mb-5 mt-5 p-2 fw-bold bg-primary rounded-2">nema ponuda.</div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                <!-- END POSLEDNJA CENA PONUDE -->
                                                            </div>
                                                        </div>
                                                        <!-- END INFO KARTICA -->

                                                        <div class="card-footer text-center">
                                                            <input type="hidden" name="next" value="{{ next }}">
                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}"
                                                                class="btn btn-primary mb-1 ml-auto btn-block">
                                                                <i class="fe fe-bar-chart-2 mx-2"></i><strong>Detalji Zahteva</strong>
                                                            </a>
                                                            {% for pracenje in id_pracenog_zahteva %}
                                                                {%  if pracenje.id == auction.id %}
                                                                    <a href="{% url 'ponude:detalji_ponude_view' auction.id %}"
                                                                        class="btn btn-outline-primary mb-1 btn-block">
                                                                        <i class="fe fe-heart mx-2 wishlist-icon"></i>Zahtev koji pratim
                                                                    </a>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor  %}
                                        {% if pages.has_other_pages %}
                                            <div class="mb-5">
                                                <div class='d-flex justify-content-center'>
                                                    <ul class='pagination'>
                                                        {% if pages.has_previous %}
                                                            <li class='page-item'>
                                                                <a class='page-link' href='?page={{ pages.previous_page_number }}'>
                                                                    &laquo;
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class='page-item disabled'>
                                                                <a class='page-link' href='#'>&laquo;</a>
                                                            </li>
                                                        {% endif %}
                                                        {% for i in pages.paginator.page_range %}
                                                            {% if pages.number == i %}
                                                                <li class='page-item active'>
                                                                    <a class='page-link' href='#'>{{ i }}</a>
                                                                </li>
                                                            {% else %}
                                                                <li class='page-item'>
                                                                    <a class='page-link' href='?page={{ i }}'>{{ i }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if pages.has_next %}
                                                            <li class='page-item'>
                                                                <a class='page-link' href='?page={{ pages.next_page_number }}'>
                                                                    &raquo;
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class='page-item disabled'>
                                                                <a class='page-link' href='#'>&raquo;</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="product-grid6">
                                                    <div class="product-image6 p-5"></div>
                                                    <div class="card-body pt-0">
                                                        <div class="product-content text-center">
                                                            <h1 class="title fw-bold fs-20">{{ user.username }}, trenutno nema aktivnih zahteva za ponudu. </h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- END CARD ZAHTEVA -->
                                </div>
                            </div>
                            <!-- END CARD PREGLED U KOCKICAMA -->
                        </div>
                        <!-- COL-END -->
                    </div>
                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- ROW-1 END -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
{% endblock app_content %}
