{% extends "auctions/auctions_base.html" %}
{% load static %}

{% block title %} Zahtevi: {{ user.username }} {% endblock %}

{% block meta_data %}
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="@PMA Technologies Private Limited">
    <meta name="description" content="@PMA Kategorija Zahteva">
    <meta name="keywords" content="Popravi Moj Auto.">
{% endblock meta_data %}

{% block app_content %}
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Zahtevi Koje Pratim [{{ user.username }}]</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'ponude:ponude' %}">Početna</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Zahtevi Koje Pratim</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row row-cards">
                    <div class="col-xl-12 col-lg-8">
                        <!-- HEADER SEARCH---NOVI ZAHTEV ... -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card p-0">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-xl-5 col-lg-8 col-md-8 col-sm-8">
                                                <div class="input-group d-flex w-100 float-start">
                                                </div>
                                            </div>
                                            {% if user.role == "VOZAC" %}
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                                    <ul class="nav item2-gl-menu float-end my-2">
                                                        <li class="border-end">
                                                            <a href="#tab-11" class="show active" data-bs-toggle="tab" title="List style">
                                                                <i class="fa fa-th"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xl-3 col-lg-12">
                                                    <a href="{% url 'ponude:kreiranje_zahteva' %}" class="btn btn-primary btn-block float-end my-2">
                                                        <i class="fa fa-plus-square me-2"></i>Novi Zahtev
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END HEADER SEARCH---NOVI ZAHTEV ... -->

                        <div class="tab-content">
                            <!-- CARD PREGLED U KOCKICAMA -->
                            <div class="tab-pane active" id="tab-11">
                                <div class="row">
                                    <!-- CARD ZAHTEVA -->
                                    {% if pages %}
                                        {% for auction in pages %}
                                            <div class="col-md-6 col-xl-4 col-sm-6">
                                                <div class="card">
                                                    <div class="product-grid6">
                                                        <!-- HOVER ICONS -->
                                                        <div class="product-image6 p-5">
                                                            <ul class="icons">
                                                                <li>
                                                                    <a href="{% url 'ponude:detalji_ponude_view' auction.id %}" class="btn btn-primary">
                                                                        <i class="fe fe-eye"></i>
                                                                    </a>
                                                                </li>
                                                                <li></li>
                                                            </ul>
                                                            <!-- SLIKA SAMO ZA MALE REZOLUCIJE -->
                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}" class="img-wrapper d-lg-none">
                                                                <img class="rounded-3 img-fluid img-center" style='width:100%; height: 40vw; object-fit: cover;'
                                                                    src="{{ auction.image.image.url|default:'/static/assets/images/auctions/no-car.jpg' }}"
                                                                    alt="img">
                                                            </a>
                                                            <!-- END SLIKA SAMO ZA MALE REZOLUCIJE -->

                                                            <!-- SLIKA SAMO ZA VELIKE REZOLUCIJE -->
                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}" class="img-wrapper d-none d-lg-block">
                                                                <img class="rounded-3 img-fluid img-center"
                                                                    src="{{ auction.image.image.url|default:'/static/assets/images/auctions/no-car.jpg' }}"
                                                                    alt="img">
                                                            </a>
                                                            <!-- END SLIKA SAMO ZA VELIKE REZOLUCIJE -->
                                                        </div>
                                                        <!-- END HOVER ICONS -->

                                                        <div class="card-body pt-0">
                                                            <div class="product-content text-center">
                                                                <h1 class="title fw-bold fs-20 text-truncate">
                                                                    <a href="{% url 'ponude:detalji_ponude_view' auction.id %}">{{ auction.title }}</a>
                                                                </h1>

                                                                <!-- ZVEZDICE -->
                                                                <div class="mb-2 text-warning">
                                                                    <i class="fa fa-star text-warning"></i>
                                                                    <i class="fa fa-star text-warning"></i>
                                                                    <i class="fa fa-star text-warning"></i>
                                                                    <i class="fa fa-star text-warning"></i>
                                                                    <i class="fa fa-star text-warning"></i>
                                                                </div>
                                                                <!-- END ZVEZDICE -->

                                                                <!-- CENA -->
                                                                {% if auction.current_bid  == None %}
                                                                    <div class="price">Nema Ponuda<span class="ms-4">{{auction.prethodna_ponuda}}</span></div>
                                                                {% else %}
                                                                    <div class="price">{{auction.current_bid }} rsd<span class="ms-4">{{auction.prethodna_ponuda}}</span></div>
                                                                {% endif %}
                                                                <!-- END CENA -->
                                                            </div>
                                                        </div>

                                                        <div class="card-footer text-center">
                                                            <input type="hidden" name="next" value="{{ next }}">
                                                            <a href="{% url 'ponude:detalji_ponude_view' auction.id %}"
                                                                class="btn btn-primary mb-1 ml-auto btn-block">
                                                                <i class="fe fe-bar-chart-2 mx-2"></i>Detalji
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor  %}
                                        {% if pages.has_other_pages %}
                                            <div class="mb-5">
                                                <div class='d-flex justify-content-center'>
                                                    <ul class='pagination'>
                                                        {% if pages.has_previous %}
                                                            <li class='page-item'>
                                                                <a class='page-link' href='?page={{ pages.previous_page_number }}'>
                                                                    &laquo;
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class='page-item disabled'>
                                                                <a class='page-link' href='#'>&laquo;</a>
                                                            </li>
                                                        {% endif %}
                                                        {% for i in pages.paginator.page_range %}
                                                            {% if pages.number == i %}
                                                                <li class='page-item active'>
                                                                    <a class='page-link' href='#'>{{ i }}</a>
                                                                </li>
                                                            {% else %}
                                                                <li class='page-item'>
                                                                    <a class='page-link' href='?page={{ i }}'>{{ i }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if pages.has_next %}
                                                            <li class='page-item'>
                                                                <a class='page-link' href='?page={{ pages.next_page_number }}'>
                                                                    &raquo;
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li class='page-item disabled'>
                                                                <a class='page-link' href='#'>&raquo;</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="product-grid6">
                                                    <div class="product-image6 p-5"></div>
                                                    <div class="card-body pt-0">
                                                        <div class="product-content text-center">
                                                            <h1 class="title fw-bold fs-20">{{ user.username }}, trenutno nemate zahteva koje pratite. </h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- END CARD ZAHTEVA -->
                                </div>
                            </div>
                            <!-- END CARD PREGLED U KOCKICAMA -->
                        </div>
                        <!-- COL-END -->
                    </div>
                    <!-- ROW-1 CLOSED -->
                </div>
                <!-- ROW-1 END -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
{% endblock app_content %}
