<div class="details col-xl-7 col-lg-12 col-md-12 mt-4 mt-xl-0" id="detalji-zahteva">
    <div class="mt-2 mb-4">
        <h3 class="mb-3 fw-semibold">{{ auction.title }}</h3>
        <span class="fw-bold me-2">
            <small class="fw-bold me-2">Zahtev Kreirao:</small>
        </span>
        <span class="fw-bold text-success">
            <small class="fw-bold me-2">{{ auction.creator }}</small>
        </span><br>
        <span class="fw-bold me-2">
            <small class="fw-bold me-2">Kreirano:</small>
        </span>

        <span class="fw-bold text-success">
            <small class="fw-bold me-2">{{ auction.date_created }}</small>
        </span>

        <!-- POSLEDNJA CENA PONUDE -->
        {% if auction.current_bid  %}
            <div class="h3 text-center mb-5 mt-5 p-2 fw-bold  bg-primary rounded-2">{{ auction.current_bid }} rsd</div>
        {% else %}
            <div class="h3 text-center mb-5 mt-5 p-2 fw-bold  bg-primary rounded-2">Nema cene za ovaj zahtev. </div>
        {% endif %}
        <!-- END POSLEDNJA CENA PONUDE -->
        <hr>

        <!-- DETALJI ZAHTEVA i OPIS ZAHTEVA ZAGLAVLJA -->
        <div class="row">
            <!-- VIN BROJ -->
            <div class="col-xl-12 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">VIN Broj</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.vin %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.vin|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END VIN BROJ -->

            <!-- KILOMETRAZA AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kilometraža</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold text-white">
                            {{ profil_vozaca.vin|default_if_none:"0 km" }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END KILOMETRAZA AUTA VOZACA -->


            <!-- MARKA AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kategorija</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold text-white">
                            {{ profil_vozaca.marka|default_if_none:"marka" }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END MARKA AUTA VOZACA -->
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kategorija</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold text-success">
                            {{ auction.category }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kategorija</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold text-success">
                            {{ auction.category }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kategorija</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold text-success">
                            {{ auction.category }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kategorija</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold text-white">
                            {{ auction.category }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- DETALJI ZAHTEVA i OPIS ZAHTEVA ZAGLAVLJA -->
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header bg-primary br-te-3 br-ts-3">
                        <h3 class="card-title text-white">Opis Zahteva:</h3>
                        <div class="card-options ">
                            <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                        </div>
                    </div>
                    <div class="card-body text-justify">
                        <h6>{{ auction.description }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- END DETALJI ZAHTEVA i OPIS ZAHTEVA ZAGLAVLJA -->


    </div>


    <hr>
    {% if auction.creator == user %}
        <form method="POST" action="{% url 'ponude:obrisi_zahtev' auction.id %}">
            <!-- Modal -->
            <div class="modal fade" id="obrisiModal" tabindex="-1" aria-labelledby="obrisiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="obrisiModalLabel">Brisanje Zahteva</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <h5>Da li ste sigurni da želite da obrišete zahtev: [{{auction.title}}] ?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"
                                class="btn btn-outline-danger ">
                                <i class="fa fa-trash-o"></i>&nbsp;Obriši
                            </button>
                            <button type="button"
                                class="btn btn-outline-success"
                                data-bs-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;Odustani
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            {% if auction.active %}
                <button
                    class="btn btn-outline-success"
                    hx-get="{% url 'ponude:uredi_zahtev_vozaca' auction.id %}"
                    hx-target="#detalji-zahteva"
                    hx-trigger="click">
                    <i class="fa fa-edit"></i>&nbsp;Izmeni
                </button>
                <button class="btn btn-outline-danger float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#obrisiModal"
                    type="button"
                    value="Obriši">
                    <i class="fa fa-trash-o"></i>&nbsp;Obriši
                </button>
            {% else %}
                <button
                    class="btn btn-outline-success disabled"
                    hx-get="{% url 'ponude:uredi_zahtev_vozaca' auction.id %}"
                    hx-target="#detalji-zahteva"
                    hx-trigger="click">
                    <i class="fa fa-edit"></i>&nbsp;Izmeni
                </button>
                <button class="btn btn-outline-danger float-end disabled"
                    data-bs-toggle="modal"
                    data-bs-target="#obrisiModal"
                    type="button"
                    value="Obriši">
                    <i class="fa fa-trash-o"></i>&nbsp;Obriši
                </button>
            {% endif %}
        </form>
    {% endif %}
</div>
