<div class="details col-xl-7 col-lg-12 col-md-12 mt-4 mt-xl-0 bg-indigo-darkest" id="detalji-zahteva">
    <div class="mt-2 mb-4">
        <h3 class="mb-3 fw-semibold">{{ auction.title }}</h3>

        <!-- TAGOVI SERVISERA O PONUDI -->
        {% if user.role == "SERVIS" %}
            {% if ponuda_jednog_auto_servisa %}
                <div class="tags mb-2">
                    <span class="tag tag-radius tag-round tag-green text-black">Dali ste ponudu: <strong>{{ ponuda_jednog_auto_servisa.0.amount }} rsd</strong></span>
                    <span class="tag tag-radius tag-round tag-orange text-black">Datum ponude: <strong>{{ ponuda_jednog_auto_servisa.0.date }}</strong></span>
                </div>
            {% else %}
                <span class="tag tag-radius tag-round tag-red text-black"><strong>Za ovaj zahtev niste dali ponudu!</strong></span>
            {% endif %}
        {% endif %}
        <!-- END TAGOVI SERVISERA O PONUDI -->

        <hr/>

        <!-- AUTOR ZAHTEVA -->
        <span class="fw-bold me-2">
            <small class="fw-bold me-2">Zahtev Kreirao:</small>
        </span>
        <span class="fw-bold text-success">
            <small class="fw-bold me-2">{{ auction.creator }}</small>
        </span><br>
        <!-- END AUTOR ZAHTEVA -->

        <!-- DATUM KREIRANJA -->
        <span class="fw-bold me-2">
            <small class="fw-bold me-2">Kreirano:</small>
        </span>
        <span class="fw-bold text-success">
            <small class="fw-bold me-2">{{ auction.date_created }}</small>
        </span>
        <!-- END DATUM KREIRANJA -->
        <br>
        <!-- KATEGORIJA ZAHTEVA -->
        <span class="fw-bold me-2">
            <small class="fw-bold me-2">Kategorija:</small>
        </span>
        <span class="fw-bold text-success">
            <small class="fw-bold me-2">{{ auction.category }}</small>
        </span>
        <!-- END KATEGORIJA ZAHTEVA -->

        <!-- POSLEDNJA CENA PONUDE -->
        {% if auction.current_bid  %}
            <div class="card mt-3">
                <span class="ribbone-danger-right">
                    <span><i class="fe fe-zap"></i><strong>Poslednja Ponuda Servisa &nbsp;</strong></span>
                </span>
                <div class="card-body p-4">
                    <div class="h3 text-center mb-5 mt-5 p-2 fw-bold bg-primary rounded-2">{{ auction.current_bid }} rsd</div>
                </div>
            </div>
        {% else %}
            <div class="card mt-3">
                <span class="ribbone-danger-right">
                    <span><i class="fe fe-zap"></i><strong>Obaveštenje! &nbsp;</strong></span>
                </span>
                <div class="card-body p-6">
                    <div class="h3 text-center mb-5 mt-5 p-2 fw-bold bg-primary rounded-2">Nema cene za ovaj zahtev.</div>
                </div>
            </div>
        {% endif %}
        <!-- END POSLEDNJA CENA PONUDE -->

        <!-- DETALJI ZAHTEVA (VIN, KILOMETRAZA) -->
        <div class="row">
            <!-- VIN BROJ -->
            <div class="col-xl-6 col-md-6">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">VIN Broj</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.vin %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.vin|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END VIN BROJ -->

            <!-- KILOMETRAZA AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Kilometraža</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.kilometraza %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.kilometraza|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END KILOMETRAZA AUTA VOZACA -->
        </div>

        <!-- DETALJI ZAHTEVA (MARKA, MODEL) -->
        <div class="row">
            <!-- MARKA AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Marka</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.marka %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.marka|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END MARKA AUTA VOZACA -->

            <!-- MODEL AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Model</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.modell %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.modell|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END MODEL AUTA VOZACA -->
        </div>
        <!-- END DETALJI ZAHTEVA (VIN, MARKA, MODEL) -->


        <!-- DETALJI ZAHTEVA (GODISTE, VRSTA GORIVA) -->
        <div class="row">
            <!-- VRSTA GORIVA AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Gorivo</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.vrsta_goriva %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.vrsta_goriva|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END VRSTA GORIVA AUTA VOZACA -->

            <!--GODISTE AUTA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Godište</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.godiste %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.godiste|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!--END GODISTE AUTA VOZACA -->
        </div>
        <!-- END DETALJI ZAHTEVA (GODISTE, VRSTA GORIVA) -->

        <!-- DETALJI ZAHTEVA (ZAPREMINA MOTORA, SNAGA MOTORA) -->
        <div class="row">
            <!-- VRSTA ZAPREMINA MOTORA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Zapremina Motora</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.zapremina_motora %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.zapremina_motora|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- END ZAPREMINA MOTORA AUTA VOZACA -->

            <!--GODISTE SNAGA MOTORA VOZACA -->
            <div class="col-xl-6 col-md-12">
                <div class="card ribbone-card">
                    <div class="arrow-ribbone-right bg-info">Snaga Motora</div>
                    <div class="card-body  p-2  mb-2">
                        <span class="fw-bold {% if profil_vozaca.snaga_motora %} text-white {% else %} text-danger {% endif %}">
                            {{ profil_vozaca.snaga_motora|default_if_none:"..." }}
                        </span>
                    </div>
                </div>
            </div>
            <!--END GODISTE SNAGA MOTORA VOZACA -->
        </div>
        <!-- END DETALJI ZAHTEVA (ZAPREMINA MOTORA, SNAGA MOTORA) -->

        <!-- OPIS ZAHTEVA ZAHTEVA -->
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card">
                    <div class="card-header bg-primary br-te-3 br-ts-3">
                        <h3 class="card-title text-white">Opis Zahteva:</h3>
                        <div class="card-options ">
                            <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                        </div>
                    </div>
                    <div class="card-body text-justify">
                        <h6>{{ auction.description }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OPIS ZAHTEVA -->
    </div>

    <hr>

    <!-- BRISANJE IZMENA ZAHTEVA -->
    {% if auction.creator == user %}
        <form method="POST" action="{% url 'ponude:obrisi_zahtev' auction.id %}">
            <!-- Modal -->
            <div class="modal fade" id="obrisiModal" tabindex="-1" aria-labelledby="obrisiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="obrisiModalLabel">Brisanje Zahteva</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <h5>Da li ste sigurni da želite da obrišete zahtev: [{{auction.title}}] ?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"
                                class="btn btn-outline-danger ">
                                <i class="fa fa-trash-o"></i>&nbsp;Obriši
                            </button>
                            <button type="button"
                                class="btn btn-outline-success"
                                data-bs-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;Odustani
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% if auction.active %}
                <button
                    class="btn btn-outline-success"
                    hx-get="{% url 'ponude:uredi_zahtev_vozaca' auction.id %}"
                    hx-target="#detalji-zahteva"
                    hx-trigger="click">
                    <i class="fa fa-edit"></i>&nbsp;Izmeni
                </button>
                <button class="btn btn-outline-danger float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#obrisiModal"
                    type="button"
                    value="Obriši">
                    <i class="fa fa-trash-o"></i>&nbsp;Obriši
                </button>
            {% else %}
                <button
                    class="btn btn-outline-success disabled"
                    hx-get="{% url 'ponude:uredi_zahtev_vozaca' auction.id %}"
                    hx-target="#detalji-zahteva"
                    hx-trigger="click">
                    <i class="fa fa-edit"></i>&nbsp;Izmeni
                </button>
                <button class="btn btn-outline-danger float-end disabled"
                    data-bs-toggle="modal"
                    data-bs-target="#obrisiModal"
                    type="button"
                    value="Obriši">
                    <i class="fa fa-trash-o"></i>&nbsp;Obriši
                </button>
            {% endif %}
        </form>
    {% endif %}
    <!-- END BRISANJE IZMENA ZAHTEVA -->
</div>
