{% for ponuda in ponude_auto_servisa %}
    {% if user.role == "VOZAC" or user.role == "SERVIS"%}
        <div class="col-xl-12">
            <div class="card">
                <div class="product-grid6">
                    <div class="product-image6 p-5">

                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-20">
                                <a href="shop-description.html">{{ ponuda.servis }}</a>
                            </h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </div>
                            <div class="price">{{ ponuda.amount }} rsd<span class="ms-4"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer text-center">
                    {% if auction.creator == user and auction.active %}
                        <a href="javascript:void(0)">
                            <button type="button" class="btn btn-primary mb-1 btn-lg  ">
                                <i class="fa fa-check-square fa-1x"></i> Prihvati Ponudu
                            </button>
                        </a>
                        <a href="javascript:void(0)">
                            <button type="button" class="btn btn-outline-primary mb-1 btn-lg  ">
                                <i class="fa fa-phone-square fa-1x"></i> Pozovi Servis
                            </button>
                        </a>
                    {% endif %}
                    <!-- BRISANJE PONUDE ZAHTEVA-->
                    {% if ponuda.servis == user and auction.active %}
                        <form method="POST" action="{% url 'ponude:obrisi_ponudu_zahteva' ponuda.id %}">
                            <!-- Modal -->
                            <div class="modal fade" id="obrisiPonuduModal" tabindex="-1" aria-labelledby="obrisiPonuduModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="obrisiPonuduModalLabel">Brisanje Ponude {{ ponuda.id }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <h5>Da li ste sigurni da želite da obrišete ponudu sa brojem: {{ ponuda.id }} ?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                class="btn btn-outline-danger">
                                                <i class="fa fa-trash-o"></i>&nbsp;Obriši
                                            </button>
                                            <button type="button"
                                                class="btn btn-outline-success"
                                                data-bs-dismiss="modal">
                                                <i class="fa fa-close"></i>&nbsp;Odustani
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-outline-danger float-end"
                            data-bs-toggle="modal"
                            data-bs-target="#obrisiPonuduModal"
                            type="button"
                            value="Obriši">
                            <i class="fa fa-trash-o"></i>&nbsp;Obriši Ponudu
                        </button>
                    {% endif %}
                    <!-- END BRISANJE PONUDE ZAHTEVA -->
                </div>
            </div>
        </div>
    {% endif %}
{% empty %}
    <div class="col-xl-12">
        <div class="card">
            <div class="product-grid6">
                <div class="product-image6 p-5"></div>
                <div class="card-body pt-0">
                    <div class="product-content text-center">
                        <h1 class="title fw-bold fs-20">Trenutno nema ponuda za ovaj zahtev. </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
