<div class="modal fade"
    id="kreiranaPonudaModal"
    tabindex="-1"
    aria-labelledby="kreiranaPonudaModalLLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-4 pb-5">
                <i class="icon icon-check fs-70 text-success lh-1 my-4 d-inline-block"></i>
                <h4 class="text-success mb-4">Čestitamo!</h4>
                <p class="mb-4 mx-4">Uspešno ste kreirali zahtev za ponudu.</p>
                <button type="button"
                    class="btn btn-outline-success"
                    data-bs-dismiss="modal">
                    <i class="fa fa-check"></i>&nbsp;Nastavi
                </button>
            </div>
        </div>
    </div>
</div>




