{% load widget_tweaks %}
{% load crispy_forms_tags %}
<!-- PROMENA PROFILA -->
<div class="col-xl-12">
    <!-- PRIKAZ GRESKE U UNOSU POLJA -->
    {% if detalji_vozaca.errors %}
        <div class='row'>
            <div class='col-xl-12'>
                <div class='card mb-4 text-white bg-indigo-darkest'>
                    <div class='card-header'>
                        <i class='fa fa-comments'></i>&nbsp;Detalji Greške
                    </div>
                    <div class='card-body'>
                        <div class='alert alert-danger' role='alert'>
                            <strong>
                                {{ detalji_vozaca.errors }}
                                {{ detalji_profila_vozaca.errors }}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- END PRIKAZ GRESKE U UNOSU POLJA -->
    <form action=''
        class="ogin100-form validate-form needs-validation"
        method='POST'
        enctype='multipart/form-data'
        novalidate>
        {% csrf_token %}
        {{ detalji_vozaca.role }}
        <!-- EDIT PROFILA -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Osnovni Podaci</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Grad:</label>
                            {% render_field detalji_vozaca.grad class="form-control" placeholder="Grad" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Mesto - Grad.</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Email adresa:</label>
                            {% render_field detalji_vozaca.email class="form-control" placeholder="Email" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Email adresu.</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Korisničko Ime:</label>
                            {% render_field detalji_vozaca.username class="form-control" placeholder="Username" readonly="readonly" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Broj Telefona:</label>
                            {% render_field detalji_profila_vozaca.broj_telefona class="form-control" placeholder="Broj Telefona" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Broj Telefona.</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Ime:</label>
                            {% render_field detalji_vozaca.first_name class="form-control" placeholder="Ime" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Ime.</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group">
                            <label class="form-label">Prezime:</label>
                            {% render_field detalji_vozaca.last_name class="form-control" placeholder="Prezime" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Prezime.</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-end">
                {{ form.errors }}
                <button type='submit' class='btn btn-success my-1'>
                    <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                </button>
                <a href="{% url 'users:detalji_vozaca' request.user.username  %}" class="btn btn-danger my-1">
                    <i class="fa fa-trash-o"></i>&nbsp;Odustani
                </a>
            </div>
        </div>
        <!-- END EDIT PROFILA -->

        <!-- EDIT AUTOMOBILA -->
        <div class="card text-white bg-indigo-darkest" id="automobil">
            <div class="card-header">
                <h3 class="card-title">Uređivanje Automobila</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- VIN BROJ -->
                    <div class="form-group">
                        <label class="form-label">Broj Šasije Automobila (VIN broj):</label>
                        {% render_field detalji_profila_vozaca.vin class="form-control form-control-lg" placeholder="primer: WAUZZZ4BZWN049194" required="required" %}
                        <div class="invalid-feedback m-1">Unesite Broj Šasije Automobila (VIN broj).</div>
                    </div>
                    <!-- END VIN BROJ -->

                    <!-- MARKA AUTOMOBILA -->
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label">Marka:</label>
                            {% render_field detalji_profila_vozaca.marka class="form-control" placeholder="primer: Renault" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Marku Automobila.</div>
                        </div>
                    </div>
                    <!-- END MARKA AUTOMOBILA -->

                    <!-- MODEL AUTOMOBILA -->
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label">Model:</label>
                            {% render_field detalji_profila_vozaca.modell class="form-control" placeholder="primer: Scenic II"  required="required" %}
                            <div class="invalid-feedback m-1">Unesite Model Automobila.</div>
                        </div>
                    </div>
                    <!-- END MODEL AUTOMOBILA -->

                </div>
                <div class="form-group">
                    <div class="row">
                        <!-- Godište Automobila -->
                        <div class="col-md-4 mb-2">
                            <label class="form-label">Godište Automobila:</label>
                            {% render_field detalji_profila_vozaca.godiste class="form-control form-select" placeholder="primer: Godište Automobila" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Godište Automobila.</div>
                        </div>
                        <!-- END Godište Automobila -->

                        <!-- Vrsta Goriva -->
                        <div class="col-md-4 mb-2">
                            <label class="form-label">Vrsta Goriva:</label>
                            {% render_field detalji_profila_vozaca.vrsta_goriva class="form-control form-select" placeholder="primer: Vrsta Goriva" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Vrsta Goriva Automobila.</div>

                        </div>
                        <!-- END Vrsta Goriva -->

                        <!-- Kilometraža -->
                        <div class="col-md-4 mb-2">
                            <label class="form-label">Kilometraža:</label>
                            {% render_field detalji_profila_vozaca.kilometraza class="form-control" placeholder="primer: 156.500 km" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Kilometražu Automobila.</div>
                        </div>
                        <!-- END Kilometraža -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label">Zapremina Motora:</label>
                            {% render_field detalji_profila_vozaca.zapremina_motora class="form-control" placeholder="primer: 1890 ccm" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Zapreminu Motora Automobila.</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="form-label">Snaga Motora:</label>
                            {% render_field detalji_profila_vozaca.snaga_motora class="form-control" placeholder="primer: 120 KS  ili 80 KW" required="required" %}
                            <div class="invalid-feedback m-1">Unesite Snagu Motora Automobila.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRIKAZ BTN-a NA MALIM REZOLUCIJAMA -->
            <div class="card-footer d-lg-none">
                {{ form.errors }}
                <div class="col-12 ">
                    <button type='submit' class='btn btn-success my-1 col-12'>
                        <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                    </button>
                </div>
                <div class="col-12">
                    <a href="{% url 'users:detalji_vozaca' request.user.username %}" class="btn btn-danger my-1 col-12">
                        <i class="fa fa-trash-o"></i>&nbsp;Odustani
                    </a>
                </div>
                <div class="col-12">
                    <a href="{% url 'ponude:kreiranje_zahteva' %}" class="btn btn-outline-primary btn col-12 my-2">
                        <i class="fa fa-edit"></i> Kreiraj Zahtev Za Ponudu
                    </a>
                </div>
            </div>
            <!-- END PRIKAZ BTN-a NA MALIM REZOLUCIJAMA -->

            <!-- PRIKAZ BTN-a NA VELIKIM REZOLUCIJAMA -->
            <div class="card-footer d-none d-lg-block ">
                {{ form.errors }}
                <div class="col-12">
                    <div class="btn-group me-0 float-end" role="group">
                        <button type='submit' class='btn btn-success my-1 mr-5 float-end'>
                            <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                        </button>
                    </div>

                    <div class="btn-group me-1 float-end" role="group">
                        <a href="{% url 'users:detalji_vozaca' request.user.username %}" class="btn btn-danger my-1  me-0">
                            <i class="fa fa-trash-o"></i>&nbsp;Odustani
                        </a>
                    </div>

                    <div class="btn-group mr-2 float-left" role="group" >
                        <a href="{% url 'ponude:kreiranje_zahteva' %}" class="btn btn-outline-primary btn col-12 my-1">
                            <i class="fa fa-edit"></i> Kreiraj Zahtev Za Ponudu
                        </a>
                    </div>
                </div>
                <!-- END PRIKAZ BTN-a NA VELIKIM REZOLUCIJAMA -->
            </div>
        </div>
        <!-- END EDIT AUTOMOBILA -->

        <!-- EDIT NOTIFIKACIJE -->
        {% include 'vozaci/partials/partials-notifikacije-sigurnost.html' %}
        <!-- END EDIT NOTIFIKACIJE -->
    </form>
</div>
<!-- END PROMENA PROFILA -->
