<div class="row" id="notifikacije">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Obaveštenja</div>
            </div>
            <div class="card-body">
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Prikaz Kontakta</span>
                    </label>
                </div>
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Prikaz Obaveštenja</span>
                    </label>
                </div>
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Prikaz Statistike</span>
                    </label>
                </div>
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Prikaz Email Obaveštenja</span>
                    </label>
                </div>
            </div>
            <div class="card-footer text-end">
                {{ form.errors }}
                <button type='submit' class='btn btn-success my-1'>
                    <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                </button>
                <a href="{% url 'users:detalji_vozaca' request.user.username %}" class="btn btn-danger my-1">
                    <i class="fa fa-trash-o"></i>&nbsp;Odustani
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Privatnost i Sigurnost</div>
            </div>
            <div class="card-body">
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Dozvoli drugima da vide moj profil</span>
                    </label>
                </div>
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Učini moj profil javnim</span>
                    </label>
                </div>
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Verifikacija u dva koraka</span>
                    </label>
                </div>
                <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                        <span class="custom-switch-indicator me-3"></span>
                        <span class="custom-switch-description mg-l-10">Ostani uvek prijavljen</span>
                    </label>
                </div>
            </div>
            <div class="card-footer text-end">
                {{ form.errors }}
                <button type='submit' class='btn btn-success my-1'>
                    <i class="fa fa-check-square"></i>&nbsp;Sačuvaj
                </button>
                <a href="{% url 'users:detalji_vozaca' request.user.username %}" class="btn btn-danger my-1">
                    <i class="fa fa-trash-o"></i>&nbsp;Odustani
                </a>
            </div>
        </div>
    </div>
</div>
