<!-- PROMENA PROFILA -->
<div class="col-xl-12">

    <!-- EDIT PROFILA -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Osnovni Podaci</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Email adresa:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="email"
                            value="{{ detalji_vozaca.email }}"
                            placeholder="Email adresa"
                            disabled readonly>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Korisničko Ime:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            placeholder="{{ detalji_vozaca.username }}"
                            disabled readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label class="form-label">Broj Telefona:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="telefon"
                            value="{{ detalji_vozaca.vozacprofile.broj_telefona }}"
                            placeholder="Boj Telefona"
                            disabled readonly>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label class="form-label">Ime:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="ime"
                            value="{{ detalji_vozaca.first_name}}"
                            placeholder="Ime"
                            disabled readonly>
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label class="form-label">Prezime:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="prezime"
                            value="{{ detalji_vozaca.last_name}}"
                            placeholder="Prezime"
                            disabled readonly>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-end">
            <a href="{% url 'users:izmena_profila_vozaca' request.user.username  %}" class="btn btn-outline-success my-1">Izmeni</a>
        </div>
    </div>
    <!-- END EDIT PROFILA -->

    <!-- EDIT AUTOMOBILA -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Podaci Automobila</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- VIN BROJ -->
                <div class="form-group">
                    <label class="form-label">VIN Broj:</label>
                    <input
                        class="form-control"
                        value="{{ profil_vozaca.vin }}"
                        placeholder="primer: WAUZZZ4BZWN049194"
                        disabled readonly>
                </div>
                <!-- END VIN BROJ -->
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Marka:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="marka_auta"
                            value="{{ profil_vozaca.marka }}"
                            placeholder="primer: Renault"
                            disabled readonly>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Model:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="modela_auta"
                            value="{{ profil_vozaca.modell }}"
                            placeholder="primer: Scenic II"
                            disabled readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <!-- Godište Automobila -->
                    <div class="col-md-4 mb-2">
                        <label class="form-label">Godište Automobila:</label>
                        <select class="form-control select2 form-select" disabled readonly>
                            <option value="default">{{ profil_vozaca.godiste }}</option>
                            <option value="1">2023</option>
                            <option value="1">2022</option>
                            <option value="1">2021</option>
                            <option value="1">2020</option>
                            <option value="1">2019</option>
                            <option value="1">2018</option>
                            <option value="2">2017</option>
                            <option value="3">2016</option>
                            <option value="4">2015</option>
                            <option value="5">2014</option>
                            <option value="6">2013</option>
                            <option value="7">2102</option>
                            <option value="8">2012</option>
                            <option value="9">2011</option>
                            <option value="10">2010</option>
                            <option value="11">2009</option>
                            <option value="12">2008</option>
                            <option value="13">2007</option>
                            <option value="14">2006</option>
                            <option value="15">2005</option>
                            <option value="16">2004</option>
                            <option value="17">2003</option>
                            <option value="18">2002</option>
                            <option value="19">2001</option>
                            <option value="20">1999</option>
                            <option value="21">1998</option>
                            <option value="22">1997</option>
                            <option value="23">1996</option>
                            <option value="24">1995</option>
                            <option value="25">1994</option>
                            <option value="26">1993</option>
                            <option value="27">1992</option>
                            <option value="28">1991</option>
                            <option value="29">1990</option>
                            <option value="30">1989</option>
                            <option value="31">1988</option>
                        </select>
                    </div>
                    <!-- END Godište Automobila -->


                    <div class="col-md-4 mb-2">
                        <label class="form-label">Vrsta Goriva:</label>
                        <select class="form-control select2 form-select" disabled readonly>
                            <option value="default">{{ profil_vozaca.vrsta_goriva }}</option>
                            <option value="dizel">Dizel</option>
                            <option value="benzin">Benzin</option>
                            <option value="hibrid">Hibrid</option>
                            <option value="ev">EV</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label class="form-label">Kilometraža:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="kilometraza"
                            value="{{ profil_vozaca.kilometraza }}"
                            placeholder="primer: 156.500 km"
                            disabled readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Zapremina Motora:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="zapremina_motora"
                            value="{{ profil_vozaca.zapremina_motora }}"
                            placeholder="primer: 1890 ccm"
                            disabled readonly>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Snaga Motora:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="snaga_motora"
                            value="{{ profil_vozaca.snaga_motora }}"
                            placeholder="primer: 120 KS  ili 80 KW"
                            disabled readonly>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-end">
            <a href="javascript:void(0)" class="btn btn-outline-success my-1">Izmeni</a>
        </div>
    </div>
    <!-- END EDIT AUTOMOBILA -->

    <!-- EDIT NOTIFIKACIJE -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Obaveštenja</div>
                </div>
                <div class="card-body">
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Updates Automatically</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Allow Location Map</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Show Contacts</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Show Notfication</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Show Tasks Statistics</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Show Email Notification</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Privatnost i Sigurnost</div>
                </div>
                <div class="card-body">
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Allow Others to see my profile</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Make my profile Public</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Security Alert</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Passcode and Face ID</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Two Step Verification</span>
                        </label>
                    </div>
                    <div class="form-group mg-b-10">
                        <label class="custom-switch ps-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked="">
                            <span class="custom-switch-indicator me-3"></span>
                            <span class="custom-switch-description mg-l-10">Always Sign In</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END EDIT NOTIFIKACIJE -->

    <!-- BRISANJE NALOGA -->
    <div class="card">
        <div class="card-header">
            <div class="card-title">Brisanje Naloga</div>
        </div>
        <div class="card-body">
            <p>Potpuno brisanje naloga i svih podataka vezanih za isti.</p>
        </div>
        <div class="card-footer text-end">
            <a href="javascript:void(0)" class="btn btn-danger my-1">Brisanje Naloga</a>
        </div>
    </div>
    <!-- END BRISANJE NALOGA -->

</div>
<!-- END PROMENA PROFILA -->
