{% extends "account/base.html" %}

{% load i18n %}
{% load static i18n %}
{% load widget_tweaks %}
{% block head_title %}@PMA - Prijava korisnika{% endblock %}

{% block extra_head %}
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Popravi Moj Auto">
    <meta name="author" content="@PMA - Popravi Moj Auto">
    <meta name="keywords" content="">

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- STYLE CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/transparent-style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/skin-modes.css' %}" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/color1.css' %}"/>
{% endblock %}

{% block content %}
    <!-- GLOABAL LOADER -->
    <div id="global-loader">
        <img src="{% static 'assets/images/loader.svg' %}" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">

            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto mt-7">
                <div class="text-center">
                    <a href="{% url 'landing_page:landing_page' %}"><img src="{% static 'assets/images/brand/logo-white.png' %}"
                        class="header-brand-img" alt=""></a>
                </div>
            </div>
            <form class="ogin100-form validate-form needs-validation" method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="container-login100">
                    <div class="wrap-login100 p-6">
                        <span class="login100-form-title pb-5">Prijava Korisnika</span>
                        <div class="panel panel-primary">
                            <div class="tab-menu-heading"></div>
                            <div class="panel-body tabs-menu-body p-0 pt-5">
                                <div class="tab-content">
                                    <!-- PRIKAZI INVALID CREDENTIALS -->
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{ error|striptags }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- END PRIKAZI INVALID CREDENTIALS -->
                                    <div class="tab-pane active" id="tab5">
                                        <div class="wrap-input100 validate-input input-group">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-user text-muted" aria-hidden="true"></i>
                                            </a>
                                            {{ form.username|add_class:"input100 border-start-0 form-control" }}
                                        </div>
                                        {% if form.username.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{ form.username.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="fa fa-solid fa-key text-muted"></i>
                                            </a>
                                            {{ form.password|add_class:"input100 border-start-0 form-control" }}
                                        </div>
                                        {% if form.password.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{ form.password.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <div class="text-end pt-4">
                                            <p class="mb-0"><a href="{% url 'users:pass-reset' %}" class="text-primary ms-1">Zaboravljena
                                                Lozinka?</a>
                                            </p>
                                        </div>
                                        <input type="hidden" name="next" value="{{ next }}" />
                                        <div class="container-login100-form-btn">
                                            <button class="login100-form-btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                                        </div>
                                        <hr>
                                        <div class="container-login100-form-btn">
                                            <a href="{% url 'users:kreiraj_vozaca' %}" class="login100-form-btn btn btn-outline-success">
                                                Novi Vozač? Napravi nalog
                                            </a>
                                        </div>
                                        <div class="container-login100-form-btn">
                                            <a href="{% url 'auto_servis:kreiraj_servis' %}" class="login100-form-btn btn btn-outline-warning">
                                                Novi Servis? Napravi nalog
                                            </a>
                                        </div>
                                        <label class="login-social-icon"><span>Social Login</span></label>
                                        <div class="d-flex justify-content-center">
                                            <a href="javascript:void(0)">
                                                <div class="social-login me-4 text-center">
                                                    <i class="fa fa-google"></i>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="social-login me-4 text-center">
                                                    <i class="fa fa-facebook"></i>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <div class="social-login text-center">
                                                    <i class="fa fa-twitter"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->
{% endblock content %}
